/* color veriable */
$white: #ffffff;
$off_white: #96a2b8;
$black: #000000;
$master_color_1:#a5a6a885;
$master_color_2:#144f61;
$bg_color:#2d3d5a14;
$orange:#ff9600;
$yellow:#fdc800;

// #F9F9F9

// $master_color #02656a;

/* font name */
$font_bold: "font_bold";
$font_regular: "font_regular";

$font_regular: "Regular"; /* 400 */
$font_medium: "Medium"; /* 500 */
$font_semibold: "SemiBold"; /* 600 */
$font_bold: "Bold"; /* 700 */
$font_extrabold: "ExtraBold"; /* 800 */

/* border */
$border: 0px solid red;
