// co-curricular_activities_details_page start
.co-curricular_image_area{
    width: 100%;
    height: 500px;
    @include xs {
        height: 190px;
    }
    @include sm {
        height: 290px;
    }
    @include md {
        height: 390px;
    }
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
// co-curricular_activities_details_page end