// news_area start
.inner_news_page{
    border: $border;
    .news_content{
        .news_and_site_bar_area{
            display: flex;
            @include xs{
                display: block;
            }
            @include sm{
                display: block;
            }
            .inner_news_area{
                flex: 1;
                margin-right: 70px;
                @include xs{
                    margin-right: 0px;
                }
                @include sm{
                    margin-right: 0px;
                }
            }
        }
    }
   
}
// news_area end