<!DOCTYPE html>
<html>
<head>
    <title>Branch</title>
    <link rel="stylesheet" href="/assets/dashboard/fonts/google_icon/google_icons.css">
    <script src="/assets/dashboard/js/plugins/sweetalert.js"></script>
    <link rel="stylesheet" href="/assets/dashboard/styles/style.css">
    <script src="/management_build/central_branch/central_branch.js" defer></script>
    <script src="/assets/dashboard_uni/enToBangla.js"></script>
</head>
<body>
    <div id="dashboard">
        <div id="app"></div>
        <div id="filter-root"></div>
    </div>
</body>
</html>