.form_error {
    color: #FF5722;
    padding: 7px 0px 0px;
}

.form-group {
    margin-bottom: 30px;
}

.form_600 {
    width: 100%;
    max-width: 600px;
}

.form-horizontal {
    display: flex;
    gap: 30px;
    align-items: flex-start;

    label {
        min-width: 200px;
        display: block;
    }

    .valid_star {
        // color: rgb(255, 0, 0);
        color: #0e6aa2;
    }

    .form_elements {
        flex: 1;

        >* {
            // width: 100%;
            width: 213px;
            display: block;
        }

        >input,
        >select {
            min-width: 214px;
        }

        >input[type="file"] {
            max-width: 214px;
        }

        button {
            width: unset;
        }
    }

    .form_elements_valid {
        // width: 100%;
        width: 213px;
        display: block;
        position: relative;
    }

    // >input,
    // >select {
    //     min-width: 214px;
    // }

    // >input[type="file"] {
    //     max-width: 214px;
    // }

    // button {
    //     width: unset;
    // }
}

.form-vertical {
    label {
        display: block;
        margin-bottom: 20px;
    }

    .form_elements {
        >* {
            // width: 100%;
            width: 230px;
            display: block;
        }

        >input,
        >select {
            min-width: 236px;
        }

        // >input[type="file"] {
        //     max-width: 236px;
        // }

        button {
            width: unset;
        }
    }
}

.multi_inputs {
    .multi_input_group {
        max-width: max-content;

        &:nth-child(n+3) {
            border-top: 1px solid gray;
            padding-top: 40px;
            margin-top: 30px;
        }
    }
}
.total_row{
    background-color: #20232a;
    padding: 0px;
    td{
        padding: 8px !important;
    }
}