.student_form{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    gap: 50px;
    margin: 0px 70px;
}
.student_submit{
    display: grid;
    justify-content: center;
    .btn{
        padding: 10px 20px;
        border-radius: 8px;
    }
}
.form_section_heading{
    font-size: 24px;
    margin-bottom: 40px;
    h2, h4{
        border-bottom: 1px solid rgb(174, 174, 211);
        padding-bottom: 5px;
        display: inline;
    }
}

