// header_area start
.header_area {
    // header_area_top start
    .header_area_top {
        border: $border;
        background-color: $master_color_2;
        @include xs {
            display: none;
        }
        @include sm {
            display: none;
        }
        .header_area_top_content {
            border: $border;
            // email_and_contact_number_area start
            .email_and_contact_number_area {
                border: $border;
                display: flex;
                align-items: center;
                height: 100%;
                gap: 10px;
                .email_contact_area {
                    border: $border;
                    .content_area {
                        border: $border;
                        display: flex;
                        &:hover {
                            .icon {
                                i {
                                    color: $white;
                                    // color: green;
                                }
                            }
                            .text_area {
                                .text {
                                    color: $white;
                                }
                            }
                        }
                        .icon {
                            border: $border;
                            align-items: center;
                            display: flex;
                            margin-right: 8px;
                            i {
                                border: $border;
                                font-size: 15px;
                                color: $off_white;
                                transition-duration: 0.4s;
                            }
                        }
                        .text_area {
                            border: $border;
                            .text {
                                border: $border;
                                font-size: 15px;
                                font-family: $font_medium;
                                color: $off_white;
                                line-height: 15px;
                                transition-duration: 0.4s;
                            }
                            .email_text {
                                text-transform: lowercase;
                            }
                        }
                    }
                }
            }
            // email_and_contact_number_area end
            // portal_area start
            .portal_area {
                border: $border;
                text-align: end;
                .portal_text {
                    border: $border;
                    background-color: $master_color_1;
                    font-size: 15px;
                    font-family: $font_medium;
                    color: $white;
                    // color: $master_color_2;
                    line-height: 15px;
                    padding: 15px 30px;
                    transition-duration: 0.4s;
                    &:hover {
                        color: $master_color_2;
                        background-color: $white;
                    }
                }
            }
            // portal_area end
        }
    }
    // header_area_top end

    // header_school_name_area start
    .header_school_name_area {
        border: $border;
        background-color: $white;
        // position: sticky;
        // top: 0;
        // z-index: 999999;
        @include xs {
            position: unset;
        }
        .header_area_content {
            border: $border;
            display: flex;
            justify-content: center;
            align-items: center;
            @include xs {
                display: block;
                justify-content: center;
                display: flex;
            }
            @include sm {
                display: block;
                justify-content: center;
                display: flex;
            }
            // logo_area start
            .logo_area {
                border: $border;
                align-items: center;
                display: flex;
                width: 120px;
                height: 105px;
                @include xs {
                    width: 55px;
                    height: 45px;
                    margin-right: 6px;
                }
                @include sm {
                    width: 50px;
                    height: 50px;
                    margin-right: 6px;
                }
                @include md {
                    width: 80px;
                    height: 70px;
                }
                img {
                    border: $border;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            // logo_area end
            // school_name_area start
            .school_name_area {
                border: $border;
                margin-left: 15px;
                padding: 20px 0px;
                @include xs {
                    margin-left: 0px;
                    padding: 15px 0px;
                }
                @include sm {
                    justify-content: center;
                    display: grid;
                    padding: 15px 0px 15px 0px;
                }
                .school_name {
                    border: $border;
                    .school_title {
                        border: $border;
                        font-family: $font_bold;
                        font-size: 45px;
                        line-height: 45px;
                        color: $master_color_2;
                        @include xs {
                            font-size: 17px;
                            line-height: 22px;
                        }
                        @include sm {
                            font-size:21px;
                            line-height: 26px;
                        }
                        @include md {
                            font-size: 28px;
                        }
                        @include lg {
                            font-size: 40px;
                        }
                    }
                }
                .school_name_bangla {
                    margin-bottom: 15px;
                    @include xs {
                        text-align: center;
                        margin-bottom: 3px;
                    }
                    @include sm {
                        text-align: center;
                        margin-bottom: 7px;
                    }
                    @include md {
                        margin-bottom: 0px;
                    }
                    .school_title {
                    }
                }
                .school_name_english {
                    text-align: center;
                    .school_title {
                        font-size: 30px;
                        line-height: 30px;
                        @include xs {
                            font-size: 11px;
                            line-height: 13px;
                        }
                        @include sm {
                            font-size: 14px;
                            line-height: 14px;
                        }
                        @include md {
                            font-size: 20px;
                        }
                        @include lg {
                            font-size: 26px;
                        }
                    }
                }
            }
            // school_name_area end
        }
    }
    // header_school_name_area end
}
// header_area end
