.page-wrapper .page-body-wrapper .page-body {
    overflow: hidden;
}

.page_content {
    position: relative;
    animation: color_change .6s forwards;
}

@keyframes color_change {
    from {
        opacity: 0;
        top: 30px;
        transform: scale(.9);
    }

    to {
        opacity: 1;
        top: 0px;
        transform: scale(1);
    }
}

thead, tbody, tfoot, tr, td, th {
    border-color: #515151;
}

.details_page_profile_image{
    text-align: center;
    padding: 20px 0px;

    img{
        height: 200px;
        width: 200px;
        border-radius: 50%;
        border: 1px solid gray;
        padding: 3px;
        object-fit: cover;
        object-position: center;
    }
}