<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
    <link rel="stylesheet" href="/assets/dashboard/fonts/google_icon/google_icons.css">
    <link rel="stylesheet" href="/assets/dashboard/styles/login/login.css">
    <script src="/assets/dashboard/js/plugins/axios.js"></script>
    <script src="/assets/dashboard/js/plugins/sweetalert.js"></script>
</head>

<body>
    <div className="main_body">
        <div id="login">
            <div className="container">
                <div className="login_form">
                    <div className="heading">
                        <h2>LOGIN</h2>
                    </div>
                    <div className="bg1"></div>
                    <div className="bg2"></div>
                    <div className="bg3"></div>
                    <div className="form_content">
                        <form onsubmit="login()" action="#" autocomplete="false">
                            <div className="form_group">
                                <div className="input_body">
                                    <span className="icon material-symbols-outlined">
                                        person
                                    </span>
                                    <input type="email" value="user1@gmail.com" placeholder="email" name="email" id="email">
                                </div>
                                <label for="email">
                                    <div className="text">Email</div>
                                </label>
                            </div>
                            <div className="form_group">
                                <div className="input_body">
                                    <span className="icon material-symbols-outlined">
                                        key
                                    </span>
                                    <input type="password" value="12345678" placeholder="password" name="password" id="password">
                                </div>
                                <label for="password">
                                    <div className="text">password</div>
                                </label>
                            </div>
                            <div className="form_group button_group">
                                <div className="buttons">
                                    <button onclick="remove_form_action_classes()" type="reset">
                                        <div className="text">reset</div>
                                    </button>
                                    <button type="submit">
                                        <div className="text">submit</div>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        axios.interceptors.request.use(
            function (config) {
                let form_errors = document.querySelectorAll('.form_error');
                [...form_errors].forEach((e) => e.remove());
                let has_errors = document.querySelectorAll('.form_group_error');
                [...has_errors].forEach((e) => e.classList.remove('form_group_error'));

                return config;
            },
            function (error) {
                return Promise.reject(error);
            },
        );
        axios.interceptors.response.use(
            function (response) {
                return response;
            },
            function (error) {
                if (error.response.data.status === 422) {
                    let errors = error.response.data.data;
                    errors.forEach((error) => {
                        let el = document.querySelector(`[name="${error.path}"]`);
                        if (el) {
                            (el.parentNode)?.parentNode.classList.add('form_group_error');
                            (el.parentNode)?.parentNode.insertAdjacentHTML(
                                'beforeend',
                                `
                        <div className="form_error">
                            ${error.msg}
                        </div>
                        `,
                            );
                        }
                    });

                    window.toaster(
                        `${error.response.status} - ${error.response.statusText}`,
                    );

                    console.log(error.response);
                }
                return Promise.reject(error);
            },
        );
        const login = () => {
            event.preventDefault();
            axios.post("/api/v1/auth/admission-officer/login", new FormData(event.currentTarget))
                .then(res => {
                    // return location.href = "/super-admin";
                })
                .catch(err => {
                    let { message, data } = err.response.data;
                    window.toaster(message, "error");
                    console.log(data);
                })
        }
    </script>
</body>

</html>