<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
    <link rel="stylesheet" href="/assets/dashboard/fonts/google_icon/google_icons.css">
    <link rel="stylesheet" href="/assets/dashboard/styles/login/login.css">
    <script src="/assets/dashboard/js/plugins/axios.js"></script>
    <script src="/assets/dashboard/js/plugins/sweetalert.js"></script>
</head>

<body>
    <div class="main_body">
        <div id="login">
            <div class="container">
                <div class="auth-page-content">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="text-center mt-sm-5 mb-4 text-white-50">
                                    <div>
                                        <a href="https://agxpayz.com/crm/affiliate" class="d-inline-block auth-logo logo_signin">
                                            
                                                <img src="https://agxpayz.com/crm/assets/images/logo.png" alt="" height="50">
                                                <!-- <h1 class="text-white">AGXPAYZ</h1> -->
                                           
        
        
                                        </a>
                                    </div>
                                    <p class="mt-3 fs-15 text-white fw-medium"> Affiliate | Login</p>
                                </div>
                            </div>
                        </div>
                        <!-- end row -->
        
                        <div class="row justify-content-center">
                            <div class="col-md-8 col-lg-6 col-xl-5">
                                <div class="card mt-3 card_signin">
        
                                    <div class="card-body p-4">
                                        <div class="text-center mt-2">
                                            <h5 style="color: #052856;">Welcome Back !</h5>
                                            <p class="text-muted">Sign in to continue to AGXPAYZ - Affiliate</p>
                                        </div>
                                        <div class="p-2 mt-4 ">
                                            <form action="https://agxpayz.com/crm/affiliate/signin" method="post">
                                                <input type="hidden" name="_token" value="R5T4cRtwSEySsVfYeJmaw0yEGsypc9lSCVwe5SxW">                                        <div class="mb-3">
                                                    <label for="email" class="form-label">Email</label>
                                                    <input type="text" class="form-control" id="email" name="email" placeholder="Enter Email" required="">
                                                </div>
        
                                                <div class="mb-3">
                                                    <div class="float-end">
                                                        <!-- Forgot password?-->
                                                    </div>
                                                    <label class="form-label" for="password-input">Password</label>
                                                    <div class="position-relative auth-pass-inputgroup">
                                                        <input type="password" class="form-control pe-5 password-input" placeholder="Enter password" id="password-input" aria-describedby="passwordInput" name="password" required="">
                                                        <button class="btn btn-link position-absolute end-0 top-0 text-decoration-none text-muted password-addon" type="button" id="password-addon"><i class="ri-eye-fill align-middle"></i></button>
                                                        <div class="invalid-feedback">
                                                            Please enter password
                                                        </div>
                                                    </div>
                                                </div>
                                             <!--    <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" value="" id="auth-remember-check">
                                                    <label class="form-check-label" for="auth-remember-check">Remember me</label>
                                                </div> -->
                                                <div class="form-group">
                                                <div class="g-recaptcha" id="feedback-recaptcha" data-sitekey="6Leqo6wkAAAAABi_aVUuwuMROTSAnvkqxJjXAzWA"><div style="width: 304px; height: 78px;"><div><iframe title="reCAPTCHA" width="304" height="78" role="presentation" name="a-tmkpnmuayti1" frameborder="0" scrolling="no" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-top-navigation allow-modals allow-popups-to-escape-sandbox allow-storage-access-by-user-activation" src="https://www.google.com/recaptcha/api2/anchor?ar=1&amp;k=6Leqo6wkAAAAABi_aVUuwuMROTSAnvkqxJjXAzWA&amp;co=aHR0cHM6Ly9hZ3hwYXl6LmNvbTo0NDM.&amp;hl=en&amp;v=-ZG7BC9TxCVEbzIO2m429usb&amp;size=normal&amp;cb=k9zxc33usb0o"></iframe></div><textarea id="g-recaptcha-response" name="g-recaptcha-response" class="g-recaptcha-response" style="width: 250px; height: 40px; border: 1px solid rgb(193, 193, 193); margin: 10px 25px; padding: 0px; resize: none; display: none;"></textarea></div><iframe style="display: none;"></iframe></div>
                                                  
                                              </div>
        
                                                <div class="mt-4">
                                                    <button class="btn btn-success w-100" type="submit" style="background-color: #052856;">Sign In</button>
                                                </div>
        
                                            </form>
                                        </div>
                                    </div>
                                    <!-- end card body -->
                                </div>
                                <!-- end card -->
                                
                            </div>
                        </div>
                        <!-- end row -->
                    </div>
                    <!-- end container -->
                </div>
            </div>
        </div>
    </div>
    <script>
        axios.interceptors.request.use(
            function (config) {
                let form_errors = document.querySelectorAll('.form_error');
                [...form_errors].forEach((e) => e.remove());
                let has_errors = document.querySelectorAll('.form_group_error');
                [...has_errors].forEach((e) => e.classList.remove('form_group_error'));

                return config;
            },
            function (error) {
                return Promise.reject(error);
            },
        );
        axios.interceptors.response.use(
            function (response) {
                return response;
            },
            function (error) {
                if (error.response.data.status === 422) {
                    let errors = error.response.data.data;
                    errors.forEach((error) => {
                        let el = document.querySelector(`[name="${error.path}"]`);
                        if (el) {
                            (el.parentNode)?.parentNode.classList.add('form_group_error');
                            (el.parentNode)?.parentNode.insertAdjacentHTML(
                                'beforeend',
                                `
                        <div class="form_error">
                            ${error.msg}
                        </div>
                        `,
                            );
                        }
                    });

                    window.toaster(
                        `${error.response.status} - ${error.response.statusText}`,
                    );

                    console.log(error.response);
                }
                return Promise.reject(error);
            },
        );
        const login = () => {
            event.preventDefault();
            axios.post("/api/v1/auth/account/login", new FormData(event.currentTarget))
                .then(res => {
                    return location.href = "/account";
                })
                .catch(err => {
                    let { message, data } = err.response.data;
                    window.toaster(message, "error");
                    console.log(data);
                })
        }
    </script>
</body>

</html>