<!DOCTYPE html>
<html lang="bn">

<%- include('../layouts/head.ejs') %>

<body id="bottom_to_up">
    <%- include('../layouts/header.ejs') %>

    <%- include('../layouts/nav.ejs') %>

    <!-- page content -->
    

    <!-- page content -->

    <%- include('../layouts/footer.ejs') %>
</body>

</html>