<!DOCTYPE html>
<html lang="bn">

<%- include('./layouts/head.ejs') %>

<body id="bottom_to_up">
    <%- include('./layouts/header.ejs') %>

    <%- include('./layouts/nav.ejs') %>

    <!-- banner_area start -->
    <section class="banner_area banner_edit">
        <div class="banner_area_2" style="background-image: url(/assets/website/images/banner_image/bg2.jpg);">

            <div class="banner_blur_area">
                <div class="container">
                    <div class="banner_area_content">
                        <div class="row">
                            <!-- prime_minister_img_area start -->
                            <div class="col-xs-12 col-md-6">
                                <!-- banner_title_area start -->
                                <div class="banner_title_area">
                                    <div class="banner_title_area_content">
                                        <div class="banner_title" data-aos="fade-right" data-aos-delay="300"
                                            data-aos-duration="1000">
                                            <h2 class="title_text">শিক্ষা প্রতিষ্ঠান মেধা ও প্রতিভা বিকাশের অন্যতম স্থান
                                            </h2>
                                        </div>
                                        <div class="view_all_button_area" data-aos="fade-right" data-aos-delay="600"
                                            data-aos-duration="1000">
                                            <a href="#" class="view_all_button">আবেদন করুন</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- banner_title_area end -->

                            </div>
                            <!-- prime_minister_img_area end -->

                            <!-- importent_link_area start -->
                            <div class="col-xs-12 col-md-6">
                                <div class="importent_link_area" data-aos="fade-left" data-aos-duration="1000">
                                    <!-- area_title start -->
                                    <div class="area_title">
                                        <h2 class="area_title_text">
                                            নোটিশ
                                        </h2>
                                    </div>
                                    <!-- area_title end -->

                                    <!-- all_link_item start -->
                                    <div class="all_link_item">

                                        <!-- link_item start -->
                                        <ul>
                                            <!-- link_item start  -->
                                            <li class="link_item">
                                                <div class="icon">
                                                    <i class="fa-solid fa-angles-right"></i>
                                                </div>
                                                <a href="notice.html" class="link_name">ভর্তি নোটিশ</a>
                                            </li>
                                            <!-- link_item end  -->
                                            <!-- link_item start  -->
                                            <li class="link_item">
                                                <div class="icon">
                                                    <i class="fa-solid fa-angles-right"></i>
                                                </div>
                                                <a href="notice.html" class="link_name">পরীক্ষার নোটিশ</a>
                                            </li>
                                            <!-- link_item end  -->
                                            <!-- link_item start  -->
                                            <li class="link_item">
                                                <div class="icon">
                                                    <i class="fa-solid fa-angles-right"></i>
                                                </div>
                                                <a href="notice.html" class="link_name">ফলাফলের নোটিশ</a>
                                            </li>
                                            <!-- link_item end  -->
                                            <!-- link_item start  -->
                                            <li class="link_item">
                                                <div class="icon">
                                                    <i class="fa-solid fa-angles-right"></i>
                                                </div>
                                                <a href="notice.html" class="link_name">ইভেন্টস নোটিশ</a>
                                            </li>
                                            <!-- link_item end  -->
                                            <!-- link_item start  -->
                                            <li class="link_item">
                                                <div class="icon">
                                                    <i class="fa-solid fa-angles-right"></i>
                                                </div>
                                                <a href="notice.html" class="link_name">প্রশাসন নোটিশ</a>
                                            </li>
                                            <!-- link_item end  -->
                                            <!-- link_item start  -->
                                            <li class="link_item">
                                                <div class="icon">
                                                    <i class="fa-solid fa-angles-right"></i>
                                                </div>
                                                <a href="notice.html" class="link_name">জাতীয় কর্মসূচি</a>
                                            </li>
                                            <!-- link_item end  -->
                                        </ul>



                                    </div>
                                    <!-- all_link_item end -->



                                </div>
                            </div>
                            <!-- importent_link_area end -->
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- banner_area end-->

    <!-- result_statistics area start -->
    <section class="result_statistics">
        <div class="container">

            <!-- news-head-line_area start -->
            <div class="news-head-line_area">
                <marquee behavior="" direction="left">
                    <ul>
                        <li>
                            বৃত্তি নিয়ে বিদেশে উচ্চশিক্ষার প্রক্রিয়া বেশ দীর্ঘ। তাড়াহুড়া করলে সুযোগ পাওয়ার সম্ভাবনা কমে
                            যাবে। একদিকে যেমন পড়াশোনার প্রস্তুতির প্রয়োজন, অন্যদিকে কাগজপত্র ও প্রক্রিয়াসংশ্লিষ্ট নানা
                            বিষয়ও কম গুরুত্বপূর্ণ নায়।
                        </li>

                    </ul>
                </marquee>
            </div>
            <!-- news-head-line_area end -->

            <div class="result_statistics_content" data-aos="fade-up" data-aos-duration="1000">
                <!-- result_statistics_area start -->
                <div class="result_statistics_area">
                    <div class="icon_area">
                        <i class="fa-solid fa-graduation-cap"></i>
                    </div>
                    <div class="result_statistics_text_area">
                        <div class="title">
                            <p class="title_text">টোটাল A+ পেয়েছে</p>
                        </div>
                        <div class="content">
                            <p class="content_text"><span> 200 </span> জন</p>
                        </div>
                    </div>

                </div>
                <!-- result_statistics_area end -->
                <!-- result_statistics_area start -->
                <div class="result_statistics_area">
                    <div class="icon_area">
                        <i class="fa-solid fa-graduation-cap"></i>
                    </div>
                    <div class="result_statistics_text_area">
                        <div class="title">
                            <p class="title_text">বিজ্ঞান থেকে A+ পেয়েছে</p>
                        </div>
                        <div class="content">
                            <p class="content_text"><span> 100 </span> জন</p>
                        </div>
                    </div>

                </div>
                <!-- result_statistics_area end -->
                <!-- result_statistics_area start -->
                <div class="result_statistics_area">
                    <div class="icon_area">
                        <i class="fa-solid fa-graduation-cap"></i>
                    </div>
                    <div class="result_statistics_text_area">
                        <div class="title">
                            <p class="title_text">ব্যবসায়ী শিক্ষা থেকে A+ পেয়েছে</p>
                        </div>
                        <div class="content">
                            <p class="content_text"><span> 50 </span> জন</p>
                        </div>
                    </div>

                </div>
                <!-- result_statistics_area end -->
                <!-- result_statistics_area start -->
                <div class="result_statistics_area">
                    <div class="icon_area">
                        <i class="fa-solid fa-graduation-cap"></i>
                    </div>
                    <div class="result_statistics_text_area">
                        <div class="title">
                            <p class="title_text">মানবিক থেকে A+ পেয়েছে</p>
                        </div>
                        <div class="content">
                            <p class="content_text"><span> 50 </span> জন</p>
                        </div>
                    </div>

                </div>
                <!-- result_statistics_area end -->

            </div>
        </div>
    </section>
    <!-- result_statistics area end -->

    <!-- introduction_and_notice_area start -->
    <section class="introduction_and_notice">
        <div class="container">
            <div class="introduction_and_notice_content"
                style="background-image: url(/assets/website/images/introduction_and_notice_area_image/img1.jpg);">
                <div class="content_bg_color">
                    <!-- introduction_area start -->
                    <div class="introduction_area" data-aos="fade-right" data-aos-duration="1000">
                        <div class="introduction_area_content">
                            <div class="area_title">
                                <h2 class="area_title_text">সংক্ষিপ্ত পরিচিতি</h2>
                            </div>
                            <p class="description_text">
                                কুষ্টিয়া জেলায় ৩০৯টি মাধ্যমিক ও নিম্ন মাধ্যমিক বিদ্যালয়ের মধ্যে কুষ্টিয়া জিলা স্কুল,
                                কুষ্টিয়া জেলার তথা বাংলাদেশের মধ্যে একটি স্বনামধন্য বিদ্যাপীঠ। কুষ্টিয়া শহরের
                                প্রাণকেন্দ্রে কুষ্টিয়া-ঝিনাইদহ মহাসড়কের পূর্ব পার্শ্বে মজমপুরে (পুরাতন বাস ষ্ট্যান্ডের
                                সন্নিকটে) অবস্থিত। যার দক্ষিণ প্রাচীর ঘেঁষে রয়েছে সার্কিট হাউস। প্রায় ২০০ গজ দক্ষিণে
                                রেয়েছে ডি.সি. কোর্ট, পূর্ব দক্ষিণ কোণে রয়েছে ২৫০ শয্যার আধুনিক হাসপাতাল। সামান্য উত্তরে
                                রয়েছে বিপনী বিতান সমৃদ্ধ সুপার মার্কেট, পুলিশ ষ্টেশন এবং আর একটু উত্তরদিয়ে বয়ে গেছে গড়াই
                                নদী। সবদিক দিয়ে প্রাকৃতিক সৌন্দর্যমন্ডিত আট একর ভূমির উপর গড়ে উঠেছে ঐতিহ্যবাহী এই
                                কুষ্টিয়া জিলা স্কুল। একটি তিনতলা ও একটি দোতলা বিশিষ্ট একাডেমিক ভবন, উত্তর পার্শ্বে রয়েছে
                                দোতলা বিশিষ্ট ছা্ত্রাবাস, পুকুর-সুইমিং পুল ও পূর্বদিকে খোলা মাঠ। ডবল শিফটের এই
                                বিদ্যালয়ের বর্তমান ছাত্র সংখ্যা প্রায় ২,৩৫৯ জন এবং প্রধান ও সহকারী প্রধান শিক্ষকসহ মোট
                                শিক্ষক সংখ্যা ৫৪ জন।


                            </p>
                        </div>

                        <!-- view_all_button_area start -->
                        <div class="view_all_button_area">
                            <a href="#" class="view_all_button">আরো পড়ুন</a>
                        </div>
                        <!-- view_all_button_area end -->

                    </div>
                    <!-- introduction_area end -->
                    <!-- notice_area start -->
                    <div class="notice_area" data-aos="fade-left" data-aos-duration="1000">

                        <!-- area_title start -->
                        <div class="area_title">
                            <h2 class="area_title_text">নোটিশ</h2>
                        </div>
                        <!-- area_title end -->

                        <!-- notice_area_content start -->
                        <div class="notice_area_content">
                            <ul>
                                <li>
                                    <div class="notice">
                                        <!--notice date_area start -->
                                        <div class="date_area">
                                            <div class="day_and_month_area">
                                                <p class="text_day">20</p>
                                                <p class="text_month">January</p>
                                            </div>
                                            <div class="year_area">
                                                <p class="text_year">2023</p>
                                            </div>
                                        </div>
                                        <!--notice date_area end-->

                                        <!-- notice_title_and_description_area start -->
                                        <div class="notice_title_and_description_area">
                                            <div class="notice_title">
                                                <a href="notice_details.html" class="title_text">9, 10, 11 তারিখ স্কুল
                                                    বন্ধ থাকবে</a>
                                            </div>
                                            <div class="notice_description">
                                                <span class="description_text">প্রথম সেমিস্টার পরীক্ষা শেষ হওয়ার কারণে
                                                    আগামী 9 10 11 তারিখ স্কুল বন্ধ থাকবে <a href="notice_details.html"
                                                        class="read_more_area">Read more ...</a> </span>
                                            </div>
                                        </div>
                                        <!-- notice_title_and_description_area end-->
                                    </div>
                                </li>
                                <li>
                                    <div class="notice">
                                        <!--notice date_area start -->
                                        <div class="date_area">
                                            <div class="day_and_month_area">
                                                <p class="text_day">20</p>
                                                <p class="text_month">January</p>
                                            </div>
                                            <div class="year_area">
                                                <p class="text_year">2023</p>
                                            </div>
                                        </div>
                                        <!--notice date_area end-->

                                        <!-- notice_title_and_description_area start -->
                                        <div class="notice_title_and_description_area">
                                            <div class="notice_title">
                                                <a href="notice_details.html" class="title_text">9, 10, 11 তারিখ স্কুল
                                                    বন্ধ থাকবে</a>
                                            </div>
                                            <div class="notice_description">
                                                <span class="description_text">প্রথম সেমিস্টার পরীক্ষা শেষ হওয়ার কারণে
                                                    আগামী 9 10 11 তারিখ স্কুল বন্ধ থাকবে <a href="notice_details.html"
                                                        class="read_more_area">Read more ...</a> </span>
                                            </div>
                                        </div>
                                        <!-- notice_title_and_description_area end-->
                                    </div>
                                </li>
                                <li>
                                    <div class="notice">
                                        <!--notice date_area start -->
                                        <div class="date_area">
                                            <div class="day_and_month_area">
                                                <p class="text_day">20</p>
                                                <p class="text_month">January</p>
                                            </div>
                                            <div class="year_area">
                                                <p class="text_year">2023</p>
                                            </div>
                                        </div>
                                        <!--notice date_area end-->

                                        <!-- notice_title_and_description_area start -->
                                        <div class="notice_title_and_description_area">
                                            <div class="notice_title">
                                                <a href="notice_details.html" class="title_text">9, 10, 11 তারিখ স্কুল
                                                    বন্ধ থাকবে</a>
                                            </div>
                                            <div class="notice_description">
                                                <span class="description_text">প্রথম সেমিস্টার পরীক্ষা শেষ হওয়ার কারণে
                                                    আগামী 9 10 11 তারিখ স্কুল বন্ধ থাকবে <a href="notice_details.html"
                                                        class="read_more_area">Read more ...</a> </span>
                                            </div>
                                        </div>
                                        <!-- notice_title_and_description_area end-->
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <!-- notice_area_content end -->

                        <!-- view_all_button_area start -->
                        <div class="view_all_button_area">
                            <a href="notice.html" class="view_all_button">আরো দেখুন</a>
                        </div>
                        <!-- view_all_button_area end -->
                    </div>
                    <!-- notice_area end -->
                </div>

            </div>
        </div>
    </section>
    <!-- introduction_and_notice_area end -->

    <!-- countdown_area start -->
    <section class="countdown_area" style="background-image: url(/assets/website/images/countdoun_image/bg.jpg);"
        data-aos="fade-up" data-aos-duration="1000">
        <div class="countdown_area_bg_color">
            <div class="container">
                <div class="countdown_area_content">

                    <!-- countdown_content start -->
                    <div class="countdown_content">
                        <div class="countdown_number">
                            <h2 class="number_text">50</h2>
                        </div>
                        <div class="countdown_name">
                            <h2 class="name_text">মোট শিক্ষক</h2>
                        </div>
                    </div>
                    <!-- countdown_content end -->

                    <!-- countdown_content start -->
                    <div class="countdown_content">
                        <div class="countdown_number">
                            <h2 class="number_text">1000</h2>
                        </div>
                        <div class="countdown_name">
                            <h2 class="name_text">মোট ছাত্র</h2>
                        </div>
                    </div>
                    <!-- countdown_content end -->

                    <!-- countdown_content start -->
                    <div class="countdown_content">
                        <div class="countdown_number">
                            <h2 class="number_text">85%</h2>
                        </div>
                        <div class="countdown_name">
                            <h2 class="name_text">পাশের হার</h2>
                        </div>
                    </div>
                    <!-- countdown_content end -->

                </div>
            </div>
        </div>
    </section>
    <!-- countdown_area end -->

    <!-- principal_image_and_message_area start -->
    <section class="principal_image_and_message_area">
        <div class="container">
            <div class=" principal_image_and_message_area_content">
                <!-- principal_image_area start -->
                <div class="principal_image_area" data-aos="fade-right" data-aos-duration="1000">
                    <div class="principal_image">
                        <img src="/assets/website/images/principal_image/teacher2.jpg" alt="img">
                    </div>
                </div>
                <!-- principal_image_area end -->

                <!-- principal_message_area start-->
                <div class="principal_message_area"
                    style="background-image: url(/assets/website/images/principal_image/bg.jpg);" data-aos="fade-left"
                    data-aos-duration="1000">
                    <div class="principal_message_area_bg_color">
                        <div class="message_content">
                            <div class="area_title">
                                <h2 class="area_title_text">অধ্যক্ষের বাণী</h2>
                            </div>
                            <div class="message_text_area">
                                <p class="message_text text">বিসমিল্লাহির রাহমানির রাহীম ।

                                    সকল প্রশংসা জ্ঞাপন করছি মহান আল্লাহ তা‘আলার দরবারে ।
                                    মেধা ও প্রতিভা নিয়ে পৃথিবীতে কেউ জন্মায় না । প্রতিভা ও মেধার বিকাশ ঘটাতে হয় । জন্ম
                                    নিলেই মানুষ মানুষ হয় না, মনুষ্যত্ব দিয়ে তাকে মানুষ বানাতে হয়। পিতামাতা হলও সন্তানদের
                                    জন্য পৃথিবীর শ্রেষ্ঠতম অধ্যাপক এবং পরিবারই হল সবচেয়ে বড় বিদ্যাপীঠ । শিক্ষা
                                    প্রতিষ্ঠান
                                    হল মেধা ও প্রতিভা বিকাশের অন্যতম স্থান।
                                </p>
                            </div>
                            <div class="principal_name_and_school_name_area">
                                <p class="name_text text">
                                    ড. মুহাম্মাদ আবু ইউছুফ খান
                                </p>
                                <p class="school_name_text text">
                                    অধ্যক্ষ, টেক পার্ক স্কুল এন্ড কলেজ,ঢাকা
                                </p>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- principal_message_area end-->
            </div>
        </div>
    </section>
    <!-- principal_message_area end -->


    <!-- all_index_area start -->
    <section class="all_index_area">
        <div class="container">
            <div class="all_index_area_content">
                <ul>
                    <!-- item_area start -->
                    <li class="bg_img" style="background-image: url(/assets/website/images/all_index-area_image/bg_img.jpg);"
                        data-aos="fade-up" data-aos-duration="300">
                        <div class="item_area">
                            <!-- item_logo_and_title start -->
                            <div class="item_logo_and_title">
                                <div class="item_logo">
                                    <img src="/assets/website/images/all_index-area_image/school.png" alt="image">
                                </div>
                                <div class="item_title">
                                    <h2 class="title_text">ক্যাম্পাস</h2>
                                </div>
                            </div>
                            <!-- item_logo_and_title end -->

                            <!-- item_link_area start -->
                            <div class="item_link_area">
                                <!-- item_link start -->
                                <div class="item_link">
                                    <div class="icon"><i class="fa-solid fa-caret-right"></i></div>
                                    <a href="#" class="link_text">আমাদের সম্পর্কে</a>
                                </div>
                                <!-- item_link end -->
                                <!-- item_link start -->
                                <div class="item_link">
                                    <div class="icon"><i class="fa-solid fa-caret-right"></i></div>
                                    <a href="#" class="link_text">ইতিহাস</a>
                                </div>
                                <!-- item_link end -->
                                <!-- item_link start -->
                                <div class="item_link">
                                    <div class="icon"><i class="fa-solid fa-caret-right"></i></div>
                                    <a href="#" class="link_text">লক্ষ্য ও উদ্দেশ্য</a>
                                </div>
                                <!-- item_link end -->
                                <!-- item_link start -->
                                <div class="item_link">
                                    <div class="icon"><i class="fa-solid fa-caret-right"></i></div>
                                    <a href="#" class="link_text">প্রাতিষ্ঠানিক কাঠামো</a>
                                </div>
                                <!-- item_link end -->
                                <!-- item_link start -->
                                <div class="item_link">
                                    <div class="icon"><i class="fa-solid fa-caret-right"></i></div>
                                    <a href="#" class="link_text">প্রাতিষ্ঠানিক অবকাঠামো</a>
                                </div>
                                <!-- item_link end -->
                                <!-- item_link start -->
                                <div class="item_link">
                                    <div class="icon"><i class="fa-solid fa-caret-right"></i></div>
                                    <a href="#" class="link_text">শুদ্ধাচার সংক্রান্ত তথ্য</a>
                                </div>
                                <!-- item_link end -->
                            </div>
                            <!-- item_link end -->


                        </div>
                    </li>
                    <!-- item_area end -->
                    <!-- item_area start -->
                    <li class="bg_img" style="background-image: url(/assets/website/images/all_index-area_image/bg_img.jpg);"
                        data-aos="fade-up" data-aos-duration="600">
                        <div class="item_area">

                            <!-- item_logo_and_title start -->
                            <div class="item_logo_and_title">
                                <div class="item_logo">
                                    <img src="/assets/website/images/all_index-area_image/agreement.png" alt="image">
                                </div>
                                <div class="item_title">
                                    <h2 class="title_text">ভর্তি</h2>
                                </div>
                            </div>
                            <!-- item_logo_and_title end -->

                            <!-- item_link_area start -->
                            <div class="item_link_area">
                                <!-- item_link start -->
                                <div class="item_link">
                                    <div class="icon"><i class="fa-solid fa-caret-right"></i></div>
                                    <a href="#" class="link_text">কিভাবে আবেদন করতে হবে ?</a>
                                </div>
                                <!-- item_link end -->
                                <!-- item_link start -->
                                <div class="item_link">
                                    <div class="icon"><i class="fa-solid fa-caret-right"></i></div>
                                    <a href="#" class="link_text">ভর্তি পরীক্ষা</a>
                                </div>
                                <!-- item_link end -->
                                <!-- item_link start -->
                                <div class="item_link">
                                    <div class="icon"><i class="fa-solid fa-caret-right"></i></div>
                                    <a href="#" class="link_text">ভর্তি নীতি</a>
                                </div>
                                <!-- item_link end -->
                                <!-- item_link start -->
                                <div class="item_link">
                                    <div class="icon"><i class="fa-solid fa-caret-right"></i></div>
                                    <a href="#" class="link_text">রেজিস্ট্রেশন সিস্টেম</a>
                                </div>
                                <!-- item_link end -->
                                <!-- item_link start -->
                                <div class="item_link">
                                    <div class="icon"><i class="fa-solid fa-caret-right"></i></div>
                                    <a href="#" class="link_text">বর্তমান শিক্ষা ব্যবস্থা</a>
                                </div>
                                <!-- item_link end -->
                                <!-- item_link start -->
                                <div class="item_link">
                                    <div class="icon"><i class="fa-solid fa-caret-right"></i></div>
                                    <a href="#" class="link_text">সেমিস্টার পরিকল্পনা</a>
                                </div>
                                <!-- item_link end -->

                            </div>
                            <!-- item_link end -->


                        </div>
                    </li>
                    <!-- item_area end -->
                    <!-- item_area start -->
                    <li class="bg_img" style="background-image: url(/assets/website/images/all_index-area_image/bg_img.jpg);"
                        data-aos="fade-up" data-aos-duration="900">
                        <div class="item_area">

                            <!-- item_logo_and_title start -->
                            <div class="item_logo_and_title">
                                <div class="item_logo">
                                    <img src="/assets/website/images/all_index-area_image/graduate.png" alt="image">
                                </div>
                                <div class="item_title">
                                    <h2 class="title_text">একাডেমিক প্রশাসন</h2>
                                </div>
                            </div>
                            <!-- item_logo_and_title end -->

                            <!-- item_link_area start -->
                            <div class="item_link_area">
                                <!-- item_link start -->
                                <div class="item_link">
                                    <div class="icon"><i class="fa-solid fa-caret-right"></i></div>
                                    <a href="#" class="link_text">প্রতিষ্ঠাতা</a>
                                </div>
                                <!-- item_link end -->
                                <!-- item_link start -->
                                <div class="item_link">
                                    <div class="icon"><i class="fa-solid fa-caret-right"></i></div>
                                    <a href="#" class="link_text">অধ্যক্ষ</a>
                                </div>
                                <!-- item_link end -->
                                <!-- item_link start -->
                                <div class="item_link">
                                    <div class="icon"><i class="fa-solid fa-caret-right"></i></div>
                                    <a href="#" class="link_text">উপাধ্যক্ষ</a>
                                </div>
                                <!-- item_link end -->
                                <!-- item_link start -->
                                <div class="item_link">
                                    <div class="icon"><i class="fa-solid fa-caret-right"></i></div>
                                    <a href="#" class="link_text">শিক্ষক</a>
                                </div>
                                <!-- item_link end -->
                                <!-- item_link start -->
                                <div class="item_link">
                                    <div class="icon"><i class="fa-solid fa-caret-right"></i></div>
                                    <a href="#" class="link_text">অফিস</a>
                                </div>
                                <!-- item_link end -->
                                <!-- item_link start -->
                                <div class="item_link">
                                    <div class="icon"><i class="fa-solid fa-caret-right"></i></div>
                                    <a href="#" class="link_text">কর্মচারী</a>
                                </div>
                                <!-- item_link end -->
                            </div>
                            <!-- item_link end -->


                        </div>
                    </li>
                    <!-- item_area end -->
                    <!-- item_area start -->
                    <li class="bg_img" style="background-image: url(/assets/website/images/all_index-area_image/bg_img.jpg);"
                        data-aos="fade-up" data-aos-duration="300">
                        <div class="item_area">

                            <!-- item_logo_and_title start -->
                            <div class="item_logo_and_title">
                                <div class="item_logo">
                                    <img src="/assets/website/images/all_index-area_image/academic.png" alt="image">
                                </div>
                                <div class="item_title">
                                    <h2 class="title_text">একাডেমিক</h2>
                                </div>
                            </div>
                            <!-- item_logo_and_title end -->

                            <!-- item_link_area start -->
                            <div class="item_link_area">
                                <!-- item_link start -->
                                <div class="item_link">
                                    <div class="icon"><i class="fa-solid fa-caret-right"></i></div>
                                    <a href="#" class="link_text">শ্রেণিসূচি</a>
                                </div>
                                <!-- item_link end -->
                                <!-- item_link start -->
                                <div class="item_link">
                                    <div class="icon"><i class="fa-solid fa-caret-right"></i></div>
                                    <a href="#" class="link_text">অনলাইন শ্রেণীসূচি</a>
                                </div>
                                <!-- item_link end -->
                                <!-- item_link start -->
                                <div class="item_link">
                                    <div class="icon"><i class="fa-solid fa-caret-right"></i></div>
                                    <a href="#" class="link_text">পরীক্ষার সময়সূচি</a>
                                </div>
                                <!-- item_link end -->
                                <!-- item_link start -->
                                <div class="item_link">
                                    <div class="icon"><i class="fa-solid fa-caret-right"></i></div>
                                    <a href="#" class="link_text">একাডেমিক সিলেবাস</a>
                                </div>
                                <!-- item_link end -->
                                <!-- item_link start -->
                                <div class="item_link">
                                    <div class="icon"><i class="fa-solid fa-caret-right"></i></div>
                                    <a href="#" class="link_text">শিক্ষা বর্ষপঞ্জি</a>
                                </div>
                                <!-- item_link end -->
                                <!-- item_link start -->
                                <div class="item_link">
                                    <div class="icon"><i class="fa-solid fa-caret-right"></i></div>
                                    <a href="#" class="link_text">একাডেমিক প্রসপেক্টাস</a>
                                </div>
                                <!-- item_link end -->
                            </div>
                            <!-- item_link end -->


                        </div>
                    </li>
                    <!-- item_area end -->
                    <!-- item_area start -->
                    <li class="bg_img" style="background-image: url(/assets/website/images/all_index-area_image/bg_img.jpg);"
                        data-aos="fade-up" data-aos-duration="600">
                        <div class="item_area">

                            <!-- item_logo_and_title start -->
                            <div class="item_logo_and_title">
                                <div class="item_logo">
                                    <img src="/assets/website/images/all_index-area_image/student.png" alt="image">
                                </div>
                                <div class="item_title">
                                    <h2 class="title_text">শিক্ষার্থী</h2>
                                </div>
                            </div>
                            <!-- item_logo_and_title end -->

                            <!-- item_link_area start -->
                            <div class="item_link_area">
                                <!-- item_link start -->
                                <div class="item_link">
                                    <div class="icon"><i class="fa-solid fa-caret-right"></i></div>
                                    <a href="#" class="link_text">শিক্ষার্থীদের বেতন</a>
                                </div>
                                <!-- item_link end -->
                                <!-- item_link start -->
                                <div class="item_link">
                                    <div class="icon"><i class="fa-solid fa-caret-right"></i></div>
                                    <a href="#" class="link_text">শিক্ষার্থীদের ইউনিফর্ম</a>
                                </div>
                                <!-- item_link end -->
                                <!-- item_link start -->
                                <div class="item_link">
                                    <div class="icon"><i class="fa-solid fa-caret-right"></i></div>
                                    <a href="#" class="link_text">পরীক্ষার ব্যবস্থা</a>
                                </div>
                                <!-- item_link end -->
                                <!-- item_link start -->
                                <div class="item_link">
                                    <div class="icon"><i class="fa-solid fa-caret-right"></i></div>
                                    <a href="#" class="link_text">নিয়ম এবং প্রবিধান</a>
                                </div>
                                <!-- item_link end -->
                                <!-- item_link start -->
                                <div class="item_link">
                                    <div class="icon"><i class="fa-solid fa-caret-right"></i></div>
                                    <a href="#" class="link_text">আমাদের ছাত্র-ছাত্রী</a>
                                </div>
                                <!-- item_link end -->
                                <!-- item_link start -->
                                <div class="item_link">
                                    <div class="icon"><i class="fa-solid fa-caret-right"></i></div>
                                    <a href="#" class="link_text">শিক্ষার্থীদের সাফল্যের গল্প</a>
                                </div>
                                <!-- item_link end -->
                            </div>
                            <!-- item_link end -->


                        </div>
                    </li>
                    <!-- item_area end -->
                    <!-- item_area start -->
                    <li class="bg_img" style="background-image: url(/assets/website/images/all_index-area_image/bg_img.jpg);"
                        data-aos="fade-up" data-aos-duration="900">
                        <div class="item_area">

                            <!-- item_logo_and_title start -->
                            <div class="item_logo_and_title">
                                <div class="item_logo">
                                    <img src="/assets/website/images/all_index-area_image/gpa.png" alt="image">
                                </div>
                                <div class="item_title">
                                    <h2 class="title_text">ফলাফল</h2>
                                </div>
                            </div>
                            <!-- item_logo_and_title end -->

                            <!-- item_link_area start -->
                            <div class="item_link_area">
                                <!-- item_link start -->
                                <div class="item_link">
                                    <div class="icon"><i class="fa-solid fa-caret-right"></i></div>
                                    <a href="#" class="link_text">একাডেমিক পরীক্ষার ফলাফল</a>
                                </div>
                                <!-- item_link end -->
                                <!-- item_link start -->
                                <div class="item_link">
                                    <div class="icon"><i class="fa-solid fa-caret-right"></i></div>
                                    <a href="#" class="link_text">বোর্ড পরীক্ষার ফলাফল</a>
                                </div>
                                <!-- item_link end -->

                            </div>
                            <!-- item_link end -->


                        </div>
                    </li>
                    <!-- item_area end -->
                    <!-- item_area start -->
                    <li class="bg_img" style="background-image: url(/assets/website/images/all_index-area_image/bg_img.jpg);"
                        data-aos="fade-up" data-aos-duration="300">
                        <div class="item_area">

                            <!-- item_logo_and_title start -->
                            <div class="item_logo_and_title">
                                <div class="item_logo">
                                    <img src="/assets/website/images/all_index-area_image/board.png" alt="image">
                                </div>
                                <div class="item_title">
                                    <h2 class="title_text">নোটিশ</h2>
                                </div>
                            </div>
                            <!-- item_logo_and_title end -->

                            <!-- item_link_area start -->
                            <div class="item_link_area">
                                <!-- item_link start -->
                                <div class="item_link">
                                    <div class="icon"><i class="fa-solid fa-caret-right"></i></div>
                                    <a href="#" class="link_text">ভর্তি নোটিশ</a>
                                </div>
                                <!-- item_link end -->
                                <!-- item_link start -->
                                <div class="item_link">
                                    <div class="icon"><i class="fa-solid fa-caret-right"></i></div>
                                    <a href="#" class="link_text">পরীক্ষার নোটিশ</a>
                                </div>
                                <!-- item_link end -->
                                <!-- item_link start -->
                                <div class="item_link">
                                    <div class="icon"><i class="fa-solid fa-caret-right"></i></div>
                                    <a href="#" class="link_text">ফলাফলের নোটিশ</a>
                                </div>
                                <!-- item_link end -->
                                <!-- item_link start -->
                                <div class="item_link">
                                    <div class="icon"><i class="fa-solid fa-caret-right"></i></div>
                                    <a href="#" class="link_text">ইভেন্টস নোটিশ</a>
                                </div>
                                <!-- item_link end -->
                                <!-- item_link start -->
                                <div class="item_link">
                                    <div class="icon"><i class="fa-solid fa-caret-right"></i></div>
                                    <a href="#" class="link_text">প্রশাসন নোটিশ</a>
                                </div>
                                <!-- item_link end -->
                                <!-- item_link start -->
                                <div class="item_link">
                                    <div class="icon"><i class="fa-solid fa-caret-right"></i></div>
                                    <a href="#" class="link_text">জাতীয় কর্মসূচি</a>
                                </div>
                                <!-- item_link end -->
                            </div>
                            <!-- item_link end -->


                        </div>
                    </li>
                    <!-- item_area end -->
                    <!-- item_area start -->
                    <li class="bg_img" style="background-image: url(/assets/website/images/all_index-area_image/bg_img.jpg);"
                        data-aos="fade-up" data-aos-duration="600">
                        <div class="item_area">

                            <!-- item_logo_and_title start -->
                            <div class="item_logo_and_title">
                                <div class="item_logo">
                                    <img src="/assets/website/images/all_index-area_image/online-course.png" alt="image">
                                </div>
                                <div class="item_title">
                                    <h2 class="title_text">কোর্স সমূহ</h2>
                                </div>
                            </div>
                            <!-- item_logo_and_title end -->

                            <!-- item_link_area start -->
                            <div class="item_link_area">
                                <!-- item_link start -->
                                <div class="item_link">
                                    <div class="icon"><i class="fa-solid fa-caret-right"></i></div>
                                    <a href="#" class="link_text">কিন্ডার গার্টেন</a>
                                </div>
                                <!-- item_link end -->
                                <!-- item_link start -->
                                <div class="item_link">
                                    <div class="icon"><i class="fa-solid fa-caret-right"></i></div>
                                    <a href="#" class="link_text">প্রাথমিক</a>
                                </div>
                                <!-- item_link end -->
                                <!-- item_link start -->
                                <div class="item_link">
                                    <div class="icon"><i class="fa-solid fa-caret-right"></i></div>
                                    <a href="#" class="link_text">ষষ্ঠ - দশম</a>
                                </div>
                                <!-- item_link end -->
                                <!-- item_link start -->
                                <div class="item_link">
                                    <div class="icon"><i class="fa-solid fa-caret-right"></i></div>
                                    <a href="#" class="link_text">একাদশ - দ্বাদশ</a>
                                </div>
                                <!-- item_link end -->
                                <!-- item_link start -->
                                <div class="item_link">
                                    <div class="icon"><i class="fa-solid fa-caret-right"></i></div>
                                    <a href="#" class="link_text">ডিগ্রী</a>
                                </div>
                                <!-- item_link end -->
                                <!-- item_link start -->
                                <div class="item_link">
                                    <div class="icon"><i class="fa-solid fa-caret-right"></i></div>
                                    <a href="#" class="link_text">অনার্স</a>
                                </div>
                                <!-- item_link end -->
                            </div>
                            <!-- item_link end -->


                        </div>
                    </li>
                    <!-- item_area end -->
                    <!-- item_area start -->
                    <li class="bg_img" style="background-image: url(/assets/website/images/all_index-area_image/bg_img.jpg);"
                        data-aos="fade-up" data-aos-duration="900">
                        <div class="item_area">

                            <!-- item_logo_and_title start -->
                            <div class="item_logo_and_title">
                                <div class="item_logo">
                                    <img src="/assets/website/images/all_index-area_image/loan.png" alt="image">
                                </div>
                                <div class="item_title">
                                    <h2 class="title_text">বৃত্তি ও উপবৃত্তি</h2>
                                </div>
                            </div>
                            <!-- item_logo_and_title end -->

                            <!-- item_link_area start -->
                            <div class="item_link_area">
                                <!-- item_link start -->
                                <div class="item_link">
                                    <div class="icon"><i class="fa-solid fa-caret-right"></i></div>
                                    <a href="#" class="link_text">বৃত্তি সংক্রান্ত নোটিশ</a>
                                </div>
                                <!-- item_link end -->
                                <!-- item_link start -->
                                <div class="item_link">
                                    <div class="icon"><i class="fa-solid fa-caret-right"></i></div>
                                    <a href="#" class="link_text">উপবৃত্তি সংক্রান্ত নোটিশ</a>
                                </div>
                                <!-- item_link end -->
                            </div>
                            <!-- item_link end -->


                        </div>
                    </li>
                    <!-- item_area end -->
                    <!-- item_area start -->
                    <li class="bg_img" style="background-image: url(/assets/website/images/all_index-area_image/bg_img.jpg);"
                        data-aos="fade-up" data-aos-duration="300">
                        <div class="item_area">

                            <!-- item_logo_and_title start -->
                            <div class="item_logo_and_title">
                                <div class="item_logo">
                                    <img src="/assets/website/images/all_index-area_image/innovation.png" alt="image">
                                </div>
                                <div class="item_title">
                                    <h2 class="title_text">রিসোর্স</h2>
                                </div>
                            </div>
                            <!-- item_logo_and_title end -->

                            <!-- item_link_area start -->
                            <div class="item_link_area">
                                <!-- item_link start -->
                                <div class="item_link">
                                    <div class="icon"><i class="fa-solid fa-caret-right"></i></div>
                                    <a href="#" class="link_text">ডিজিটাল ক্লাস কনটেন্ট</a>
                                </div>
                                <!-- item_link end -->
                                <!-- item_link start -->
                                <div class="item_link">
                                    <div class="icon"><i class="fa-solid fa-caret-right"></i></div>
                                    <a href="#" class="link_text">গ্রন্থাগার</a>
                                </div>
                                <!-- item_link end -->
                                <!-- item_link start -->
                                <div class="item_link">
                                    <div class="icon"><i class="fa-solid fa-caret-right"></i></div>
                                    <a href="#" class="link_text">গবেষণাগার</a>
                                </div>
                                <!-- item_link end -->
                                <!-- item_link start -->
                                <div class="item_link">
                                    <div class="icon"><i class="fa-solid fa-caret-right"></i></div>
                                    <a href="#" class="link_text">খেলার মাঠ</a>
                                </div>
                                <!-- item_link end -->
                                <!-- item_link start -->
                                <div class="item_link">
                                    <div class="icon"><i class="fa-solid fa-caret-right"></i></div>
                                    <a href="#" class="link_text">সহ-পাঠক্রম সংক্রান্ত কার্যক্রম</a>
                                </div>
                                <!-- item_link end -->
                            </div>
                            <!-- item_link end -->


                        </div>
                    </li>
                    <!-- item_area end -->
                    <!-- item_area start -->
                    <li class="bg_img" style="background-image: url(/assets/website/images/all_index-area_image/bg_img.jpg);"
                        data-aos="fade-up" data-aos-duration="600">
                        <div class="item_area">

                            <!-- item_logo_and_title start -->
                            <div class="item_logo_and_title">
                                <div class="item_logo">
                                    <img src="/assets/website/images/all_index-area_image/gallery.png" alt="image">
                                </div>
                                <div class="item_title">
                                    <h2 class="title_text">গ্যালারি</h2>
                                </div>
                            </div>
                            <!-- item_logo_and_title end -->

                            <!-- item_link_area start -->
                            <div class="item_link_area">
                                <!-- item_link start -->
                                <div class="item_link">
                                    <div class="icon"><i class="fa-solid fa-caret-right"></i></div>
                                    <a href="#" class="link_text">ফটো গ্যালারি</a>
                                </div>
                                <!-- item_link end -->
                                <!-- item_link start -->
                                <div class="item_link">
                                    <div class="icon"><i class="fa-solid fa-caret-right"></i></div>
                                    <a href="#" class="link_text">ভিডিও গ্যালারি</a>
                                </div>
                                <!-- item_link end -->

                            </div>
                            <!-- item_link end -->


                        </div>
                    </li>
                    <!-- item_area end -->
                    <!-- item_area start -->
                    <li class="bg_img" style="background-image: url(/assets/website/images/all_index-area_image/bg_img.jpg);"
                        data-aos="fade-up" data-aos-duration="900">
                        <div class="item_area">

                            <!-- item_logo_and_title start -->
                            <div class="item_logo_and_title">
                                <div class="item_logo">
                                    <img src="/assets/website/images/all_index-area_image/chat.png" alt="image">
                                </div>
                                <div class="item_title">
                                    <h2 class="title_text">যোগাযোগ</h2>
                                </div>
                            </div>
                            <!-- item_logo_and_title end -->

                            <!-- item_link_area start -->
                            <div class="item_link_area">
                                <!-- item_link start -->
                                <div class="item_link">
                                    <div class="icon"><i class="fa-solid fa-caret-right"></i></div>
                                    <a href="#" class="link_text">প্রতিষ্ঠানের ঠিকানা</a>
                                </div>
                                <!-- item_link end -->
                                <!-- item_link start -->
                                <div class="item_link">
                                    <div class="icon"><i class="fa-solid fa-caret-right"></i></div>
                                    <a href="#" class="link_text">ফেসবুক পেজ</a>
                                </div>
                                <!-- item_link end -->
                                <!-- item_link start -->
                                <div class="item_link">
                                    <div class="icon"><i class="fa-solid fa-caret-right"></i></div>
                                    <a href="#" class="link_text">ইউটিউব চ্যানেল</a>
                                </div>
                                <!-- item_link end -->

                            </div>
                            <!-- item_link end -->


                        </div>
                    </li>
                    <!-- item_area end -->


                </ul>
            </div>
        </div>
    </section>
    <!-- all_index_area end -->

    <!-- news_area start -->
    <section class="news_area" data-aos="fade-up" data-aos-duration="1000">
        <div class="container">
            <div class="news_content">
                <!-- area_title start -->
                <div class="area_title">
                    <h2 class="area_title_text">
                        সংবাদ
                    </h2>
                </div>
                <!-- area_title end -->

                <div class="row">
                    <!-- left_area start -->
                    <div class="col-md-6">
                        <div class="left_area">
                            <!-- news_item start -->
                            <div class="news_item">
                                <!-- news_image start -->
                                <div class="news_image">
                                    <img src="/assets/website/images/news_img/img1.jpg" alt="news">
                                </div>
                                <!-- news_image end -->

                                <!-- date_and_comment_area start -->
                                <div class="date_and_comment_area">
                                    <!-- date_area start -->
                                    <div class="date_area d_c_area">
                                        <p class="date_text d_c_text">
                                            12 Aug <span class="year_text text">2023</span>
                                        </p>
                                    </div>
                                    <!-- date_area end -->

                                    <!-- comment_area start -->
                                    <div class="comment_area d_c_area">
                                        <a href="#" class="comment_text d_c_text">
                                            12 <span class="comment_title text">Comment</span>
                                        </a>
                                    </div>
                                    <!-- comment_area end -->
                                </div>
                                <!-- date_and_comment_area end -->

                                <!-- news_title_area start -->
                                <div class="news_title_area">
                                    <a href="news_details.html" class="news_title_text">বৃত্তি নিয়ে বিদেশে পড়তে যাওয়ার
                                        আগ্রহ বেশি
                                        শিক্ষার্থীদের । এর কারণ হিসেবে কি দেখছে বিশ্লেষকরা ?
                                    </a>
                                </div>
                                <!-- news_title_area end -->
                            </div>
                            <!-- news_item end -->
                        </div>
                    </div>
                    <!-- left_area end -->

                    <!-- right_area start -->
                    <div class="col-md-6">
                        <div class="right_area">
                            <!-- news_item_area start -->
                            <div class="news_item_area">

                                <!-- news_item start -->
                                <div class="news_item">
                                    <!-- news_image start -->
                                    <div class="news_image">
                                        <img src="/assets/website/images/news_img/img2.webp" alt="news">
                                    </div>
                                    <!-- news_image end -->

                                    <!-- news_title_and_date_comment_area start -->
                                    <div class="news_title_and_date_comment_area">
                                        <!-- news_title_area start -->
                                        <div class="news_title_area">
                                            <a href="news_details.html" class="news_title_text">শুরুতে একটি বছরভিত্তিক
                                                পরিকল্পনা নেওয়া
                                                ভালো। ইউরোপের বিভিন্ন বিশ্ববিদ্যালয়ে পড়ার জন্য আলোচিত বৃত্তি ইরাসমাস
                                                মুন্ডাস।
                                            </a>
                                        </div>
                                        <!-- news_title_area end -->

                                        <!-- date_and_comment_area start -->
                                        <div class="date_and_comment_area">
                                            <!-- date_area start -->
                                            <div class="date_area d_c_area">
                                                <p class="date_text d_c_text">
                                                    12 Aug <span class="year_text text">2023</span>
                                                </p>
                                            </div>
                                            <!-- date_area end -->

                                            <!-- comment_area start -->
                                            <div class="comment_area d_c_area">
                                                <a href="#" class="comment_text d_c_text">
                                                    12 <span class="comment_title text">Comment</span>
                                                </a>
                                            </div>
                                            <!-- comment_area end -->
                                        </div>
                                        <!-- date_and_comment_area end -->
                                    </div>
                                    <!-- news_title_and_date_comment_area end -->
                                </div>
                                <!-- news_item end -->

                                <!-- news_item start -->
                                <div class="news_item">
                                    <!-- news_image start -->
                                    <div class="news_image">
                                        <img src="/assets/website/images/news_img/img1.jpg" alt="news">
                                    </div>
                                    <!-- news_image end -->

                                    <!-- news_title_and_date_comment_area start -->
                                    <div class="news_title_and_date_comment_area">
                                        <!-- news_title_area start -->
                                        <div class="news_title_area">
                                            <a href="news_details.html" class="news_title_text">শুরুতে একটি বছরভিত্তিক
                                                পরিকল্পনা নেওয়া
                                                ভালো।
                                            </a>
                                        </div>
                                        <!-- news_title_area end -->

                                        <!-- date_and_comment_area start -->
                                        <div class="date_and_comment_area">
                                            <!-- date_area start -->
                                            <div class="date_area d_c_area">
                                                <p class="date_text d_c_text">
                                                    12 Aug <span class="year_text text">2023</span>
                                                </p>
                                            </div>
                                            <!-- date_area end -->

                                            <!-- comment_area start -->
                                            <div class="comment_area d_c_area">
                                                <a href="#" class="comment_text d_c_text">
                                                    12 <span class="comment_title text">Comment</span>
                                                </a>
                                            </div>
                                            <!-- comment_area end -->
                                        </div>
                                        <!-- date_and_comment_area end -->
                                    </div>
                                    <!-- news_title_and_date_comment_area end -->
                                </div>
                                <!-- news_item end -->

                                <!-- news_item start -->
                                <div class="news_item">
                                    <!-- news_image start -->
                                    <div class="news_image">
                                        <img src="/assets/website/images/news_img/img2.webp" alt="news">
                                    </div>
                                    <!-- news_image end -->

                                    <!-- news_title_and_date_comment_area start -->
                                    <div class="news_title_and_date_comment_area">
                                        <!-- news_title_area start -->
                                        <div class="news_title_area">
                                            <a href="news_details.html" class="news_title_text"> ইউরোপের বিভিন্ন
                                                বিশ্ববিদ্যালয়ে পড়ার
                                                জন্য আলোচিত বৃত্তি ইরাসমাস
                                                মুন্ডাস।
                                            </a>
                                        </div>
                                        <!-- news_title_area end -->

                                        <!-- date_and_comment_area start -->
                                        <div class="date_and_comment_area">
                                            <!-- date_area start -->
                                            <div class="date_area d_c_area">
                                                <p class="date_text d_c_text">
                                                    12 Aug <span class="year_text text">2023</span>
                                                </p>
                                            </div>
                                            <!-- date_area end -->

                                            <!-- comment_area start -->
                                            <div class="comment_area d_c_area">
                                                <a href="#" class="comment_text d_c_text">
                                                    12 <span class="comment_title text">Comment</span>
                                                </a>
                                            </div>
                                            <!-- comment_area end -->
                                        </div>
                                        <!-- date_and_comment_area end -->
                                    </div>
                                    <!-- news_title_and_date_comment_area end -->
                                </div>
                                <!-- news_item end -->



                            </div>
                            <!-- news_item_area end -->

                            <!-- button_area start -->
                            <div class="view_all_button_area">
                                <a href="news.html" class="view_all_button">আরো দেখুন</a>
                            </div>
                            <!-- button_area end -->

                        </div>
                    </div>
                    <!-- right_area end -->
                </div>


            </div>
        </div>
    </section>
    <!-- news_area end -->

    <!-- blog_area start -->
    <section class="blog_area" data-aos="fade-up" data-aos-duration="1000">
        <div class="container">
            <div class="blog_area_content">
                <!-- area_title start -->
                <div class="area_title">
                    <h2 class="area_title_text">
                        ব্লগ
                    </h2>
                </div>
                <!-- area_title end -->

                <!-- blog_item_area start -->
                <div class="blog_item_area">

                    <!-- blog_item start -->
                    <div class="blog_item">
                        <!-- blog_image_and_details_button_area start -->
                        <div class="blog_image_and_details_button_area">
                            <!-- blog_image start -->
                            <div class="blog_image">
                                <img src="/assets/website/images/blog_img/img2.jpg" alt="img">
                            </div>
                            <!-- blog_image end -->
                            <!-- details_button start -->
                            <div class="details_button">
                                <a href="blog_details.html" class="details_button_text">বিস্তারিত পড়ুন</a>
                            </div>
                        </div>
                        <!-- blog_image_and_details_button_area end -->

                        <!-- details_button end -->
                        <!-- blog_title_and_date_comment_area start -->
                        <div class="blog_title_and_date_comment_area">

                            <div class="blog_title">
                                <h3 class="title_text">
                                    বৃত্তি নিয়ে বিদেশে উচ্চশিক্ষার প্রক্রিয়া বেশ দীর্ঘ। তাড়াহুড়া করলে সুযোগ পাওয়ার
                                    সম্ভাবনা কমে যাবে।
                                </h3>
                            </div>

                            <div class="date_and_comment_area">
                                <div class="date_area d_c_area">
                                    <p class="date_text d_c_text">
                                        29 Septembar <span class="text">2023</span>
                                    </p>
                                </div>
                                <a href="#" class="comment_area d_c_area">
                                    <p class="date_text d_c_text">
                                        9 <span class="text">Comment</span>
                                    </p>
                                </a>
                            </div>
                        </div>
                        <!-- blog_title_and_date_comment_area end -->
                    </div>
                    <!-- blog_item end -->
                    <!-- blog_item start -->
                    <div class="blog_item">
                        <!-- blog_image_and_details_button_area start -->
                        <div class="blog_image_and_details_button_area">
                            <!-- blog_image start -->
                            <div class="blog_image">
                                <img src="/assets/website/images/blog_img/img3.jpg" alt="img">
                            </div>
                            <!-- blog_image end -->
                            <!-- details_button start -->
                            <div class="details_button">
                                <a href="blog_details.html" class="details_button_text">বিস্তারিত পড়ুন</a>
                            </div>
                        </div>
                        <!-- blog_image_and_details_button_area end -->

                        <!-- details_button end -->
                        <!-- blog_title_and_date_comment_area start -->
                        <div class="blog_title_and_date_comment_area">

                            <div class="blog_title">
                                <h3 class="title_text">
                                    বৃত্তি নিয়ে বিদেশে উচ্চশিক্ষার প্রক্রিয়া বেশ দীর্ঘ। তাড়াহুড়া করলে সুযোগ পাওয়ার
                                    সম্ভাবনা কমে যাবে।
                                </h3>
                            </div>

                            <div class="date_and_comment_area">
                                <div class="date_area d_c_area">
                                    <p class="date_text d_c_text">
                                        29 Septembar <span class="text">2023</span>
                                    </p>
                                </div>
                                <a href="#" class="comment_area d_c_area">
                                    <p class="date_text d_c_text">
                                        9 <span class="text">Comment</span>
                                    </p>
                                </a>
                            </div>
                        </div>
                        <!-- blog_title_and_date_comment_area end -->
                    </div>
                    <!-- blog_item end -->
                    <!-- blog_item start -->
                    <div class="blog_item">
                        <!-- blog_image_and_details_button_area start -->
                        <div class="blog_image_and_details_button_area">
                            <!-- blog_image start -->
                            <div class="blog_image">
                                <img src="/assets/website/images/blog_img/img1.jpg" alt="img">
                            </div>
                            <!-- blog_image end -->
                            <!-- details_button start -->
                            <div class="details_button">
                                <a href="blog_details.html" class="details_button_text">বিস্তারিত পড়ুন</a>
                            </div>
                        </div>
                        <!-- blog_image_and_details_button_area end -->

                        <!-- details_button end -->
                        <!-- blog_title_and_date_comment_area start -->
                        <div class="blog_title_and_date_comment_area">

                            <div class="blog_title">
                                <h3 class="title_text">
                                    বৃত্তি নিয়ে বিদেশে উচ্চশিক্ষার প্রক্রিয়া বেশ দীর্ঘ। তাড়াহুড়া করলে সুযোগ পাওয়ার
                                    সম্ভাবনা কমে যাবে।
                                </h3>
                            </div>

                            <div class="date_and_comment_area">
                                <div class="date_area d_c_area">
                                    <p class="date_text d_c_text">
                                        29 Septembar <span class="text">2023</span>
                                    </p>
                                </div>
                                <a href="#" class="comment_area d_c_area">
                                    <p class="date_text d_c_text">
                                        9 <span class="text">Comment</span>
                                    </p>
                                </a>
                            </div>
                        </div>
                        <!-- blog_title_and_date_comment_area end -->
                    </div>
                    <!-- blog_item end -->


                </div>
                <!-- blog_item_area end -->

                <!-- view_all_button_area start -->
                <div class="view_all_button_area">
                    <a href="blog.html" class="view_all_button">
                        আরো দেখুন
                    </a>
                </div>
                <!-- view_all_button_area end -->
            </div>
        </div>
    </section>
    <!-- blog_area end -->

    <!-- youtube_video_area start -->
    <section class="youtube_video_area" data-aos="fade-up" data-aos-duration="1000">
        <div class="container">
            <div class="youtube_video_content">
                <iframe width="100%" height="600px" src="https://www.youtube.com/embed/71hi9H6fZuc?si=f8S11zmm0uKBUDQc"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    allowfullscreen></iframe>
            </div>
        </div>
    </section>
    <!-- youtube_video_area end-->

    <!-- video_gallery_area start -->
    <div class="video_gallery_area" data-aos="fade-up" data-aos-duration="1000">
        <div class="container">
            <div class="video_gallery_area_content">
                <!-- area_title start -->
                <div class="area_title">
                    <h2 class="area_title_text">ভিডিও গ্যালারি</h2>
                </div>
                <!-- area_title end -->

                <!-- all_video start -->
                <div class="all_video">
                    <ul>
                        <li>
                            <a href="#" class="each_video">
                                <img src="/assets/website/images/video_gallery/vid1.jpg" alt="image">
                            </a>
                            <!-- video_overlay_area start -->
                            <div class="video_overlay_area">
                                <div class="date_area">
                                    <p class="date_text">
                                        20.April.2023
                                    </p>
                                </div>

                                <div class="video_title_text_and_button_area">
                                    <div class="text_area">
                                        <h2 class="title_text">
                                            শিক্ষা সফর
                                        </h2>
                                        <p class="decription_text">
                                            বাংলাদেশের জাতীয় চিড়িয়াখানায় শিক্ষা সফর
                                        </p>
                                    </div>
                                    <div class="button_area">
                                        <button class="play_button"><i class="fa-solid fa-play"></i></button>
                                    </div>

                                </div>

                            </div>
                            <!-- video_overlay_area end-->
                        </li>
                        <li>
                            <a href="#" class="each_video">
                                <img src="/assets/website/images/video_gallery/vid2.jpg" alt="image">
                            </a>
                            <!-- video_overlay_area start -->
                            <div class="video_overlay_area">
                                <div class="date_area">
                                    <p class="date_text">
                                        20.April.2023
                                    </p>
                                </div>

                                <div class="video_title_text_and_button_area">
                                    <div class="text_area">
                                        <h2 class="title_text">
                                            খেলাধুলা
                                        </h2>
                                        <p class="decription_text">
                                            স্কুলে বার্ষিক ক্রীড়া প্রতিযোগিতা
                                        </p>
                                    </div>
                                    <div class="button_area">
                                        <button class="play_button"><i class="fa-solid fa-play"></i></button>
                                    </div>

                                </div>

                            </div>
                            <!-- video_overlay_area end-->
                        </li>
                        <li>
                            <a href="#" class="each_video">
                                <img src="/assets/website/images/video_gallery/vid3.jpg" alt="image">
                            </a>
                            <!-- video_overlay_area start -->
                            <div class="video_overlay_area">
                                <div class="date_area">
                                    <p class="date_text">
                                        20.April.2023
                                    </p>
                                </div>

                                <div class="video_title_text_and_button_area">
                                    <div class="text_area">
                                        <h2 class="title_text">
                                            বৃক্ষরোপণ
                                        </h2>
                                        <p class="decription_text">
                                            বৃক্ষরোপণ কর্মসূচির একাংশ
                                        </p>
                                    </div>
                                    <div class="button_area">
                                        <button class="play_button"><i class="fa-solid fa-play"></i></button>
                                    </div>

                                </div>

                            </div>
                            <!-- video_overlay_area end-->
                        </li>


                    </ul>


                </div>
                <!-- all_video end -->

                <!-- view_all_button_area start -->
                <div class="view_all_button_area">
                    <a href="video_gallery_page.html" class="view_all_button">আরো দেখুন</a>
                </div>
                <!-- view_all_button_area end-->
            </div>
        </div>
    </div>
    <!-- video_gallery_area end -->

    <!-- image_gallery_area start -->
    <div class="image_gallery_area" data-aos="fade-up" data-aos-duration="1000">
        <!-- <div class="container"> -->
        <div class="image_gallery_area_content">
            <!-- area_title start -->
            <div class="area_title">
                <h2 class="area_title_text">ছবি গ্যালারী</h2>
            </div>
            <!-- area_title end -->

            <!-- all_image start -->
            <div class="all_image">
                <ul>
                    <li>
                        <div class="each_image">
                            <img src="/assets/website/images/image_gallery/img1.jpg" alt="image">
                        </div>
                        <!-- overlay-area start -->
                        <a href="/assets/website/images/image_gallery/img1.jpg" data-lightbox="compulsory" data-title="Office"
                            class="overlay-area">
                            <div class="date_area">
                                <p class="date_text">
                                    20.April.2023
                                </p>
                            </div>

                            <div class="image_title_area">
                                <h2 class="title_text">
                                    খেলাধুলা
                                </h2>
                            </div>

                        </a>
                        <!-- overlay-area end-->
                    </li>
                    <li>
                        <div class="each_image">
                            <img src="/assets/website/images/image_gallery/img2.jpg" alt="image">
                        </div>
                        <!-- overlay-area start -->
                        <a href="/assets/website/images/image_gallery/img2.jpg" data-lightbox="compulsory" data-title="Office"
                            class="overlay-area">
                            <div class="date_area">
                                <p class="date_text">
                                    20.April.2023
                                </p>
                            </div>

                            <div class="image_title_area">
                                <h2 class="title_text">
                                    ভ্রমণ
                                </h2>
                            </div>

                        </a>
                        <!-- overlay-area end-->
                    </li>
                    <li>
                        <div class="each_image">
                            <img src="/assets/website/images/image_gallery/img3.webp" alt="image">
                        </div>
                        <!-- overlay-area start -->
                        <a href="/assets/website/images/image_gallery/img3.webp" data-lightbox="compulsory" data-title="Office"
                            class="overlay-area">
                            <div class="date_area">
                                <p class="date_text">
                                    20.April.2023
                                </p>
                            </div>

                            <div class="image_title_area">
                                <h2 class="title_text">
                                    প্রতিষ্ঠাতা
                                </h2>
                            </div>

                        </a>
                        <!-- overlay-area end-->
                    </li>
                    <li>
                        <div class="each_image">
                            <img src="/assets/website/images/image_gallery/img4.jpg" alt="image">
                        </div>
                        <!-- overlay-area start -->
                        <a href="/assets/website/images/image_gallery/img4.jpg" data-lightbox="compulsory" data-title="Office"
                            class="overlay-area">
                            <div class="date_area">
                                <p class="date_text">
                                    20.April.2023
                                </p>
                            </div>

                            <div class="image_title_area">
                                <h2 class="title_text">
                                    ক্যাম্পাস ভ্রমণ
                                </h2>
                            </div>

                        </a>
                        <!-- overlay-area end-->
                    </li>
                    <li>
                        <div class="each_image">
                            <img src="/assets/website/images/image_gallery/img5.jpg" alt="image">
                        </div>
                        <!-- overlay-area start -->
                        <a href="/assets/website/images/image_gallery/img5.jpg" data-lightbox="compulsory" data-title="Office"
                            class="overlay-area">
                            <div class="date_area">
                                <p class="date_text">
                                    20.April.2023
                                </p>
                            </div>

                            <div class="image_title_area">
                                <h2 class="title_text">
                                    প্রধান শিক্ষক
                                </h2>
                            </div>

                        </a>
                        <!-- overlay-area end-->
                    </li>
                    <li>
                        <div class="each_image">
                            <img src="/assets/website/images/image_gallery/img6.jpg" alt="image">
                        </div>
                        <!-- overlay-area start -->
                        <a href="/assets/website/images/image_gallery/img6.jpg" data-lightbox="compulsory" data-title="Office"
                            class="overlay-area">
                            <div class="date_area">
                                <p class="date_text">
                                    20.April.2023
                                </p>
                            </div>

                            <div class="image_title_area">
                                <h2 class="title_text">
                                    প্রতিষ্ঠান
                                </h2>
                            </div>

                        </a>
                        <!-- overlay-area end-->
                    </li>
                    <li>
                        <div class="each_image">
                            <img src="/assets/website/images/image_gallery/img7.jpg" alt="image">
                        </div>
                        <!-- overlay-area start -->
                        <a href="/assets/website/images/image_gallery/img7.jpg" data-lightbox="compulsory" data-title="Office"
                            class="overlay-area">
                            <div class="date_area">
                                <p class="date_text">
                                    20.April.2023
                                </p>
                            </div>

                            <div class="image_title_area">
                                <h2 class="title_text">
                                    শিক্ষার্থী
                                </h2>
                            </div>

                        </a>
                        <!-- overlay-area end-->
                    </li>
                    <li>
                        <div class="each_image">
                            <img src="/assets/website/images/image_gallery/img8.jpg" alt="image">
                        </div>
                        <!-- overlay-area start -->
                        <a href="/assets/website/images/image_gallery/img8.jpg" data-lightbox="compulsory" data-title="Office"
                            class="overlay-area">
                            <div class="date_area">
                                <p class="date_text">
                                    20.April.2023
                                </p>
                            </div>

                            <div class="image_title_area">
                                <h2 class="title_text">
                                    প্রতিষ্ঠান
                                </h2>
                            </div>

                        </a>
                        <!-- overlay-area end-->
                    </li>
                </ul>


            </div>
            <!-- all_image end -->

            <!-- view_all_button_area start -->
            <div class="view_all_button_area">
                <a href="image_gallery_page.html" class="view_all_button">আরো দেখুন</a>
            </div>
            <!-- view_all_button_area end-->
        </div>
        <!-- </div> -->
    </div>
    <!--image_gallery_area end -->
    
    <%- include('./layouts/footer.ejs') %>
</body>

</html>