// principal_image_and_message_area start
.principal_image_and_message_area {
    border: $border;
    margin-bottom: 80px;
    overflow-x: hidden;

    @include xs{
        margin-bottom: 30px;
    }
    @include sm{
        margin-bottom: 30px;
    }
    @include md{
        margin-bottom: 40px;
    }
    .principal_image_and_message_area_content {
        border: $border;
        display: flex;
        @include xs{
            display: block;
        }
        @include sm{
            display: block;
        }
        @include md{
            // display: block;
        }
       
        // principal_image_area start
        .principal_image_area {
            border: $border;
            flex: 1;
            @include md{
                align-items: center;
                display: flex;
            }
            @include lg{
                align-items: center;
                display: flex;
            }
            @include xl{
                align-items: center;
                display: flex;
            }
            .principal_image {
                border: $border;
                img {
                    border: $border;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
        // principal_image_area end

        // principal_message_area start
        .principal_message_area {
            border: $border;
            flex: 1;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            .principal_message_area_bg_color{
                background-color: rgba(20, 79, 97, 0.9098039216);
                height: 100%;
                padding: 70px 50px;
                align-items: center;
    display: flex;
    @include xs{
        padding: 40px 10px;
    }
                .message_content{
                    border: $border;
                    .area_title {
                        border: $border;
                        .area_title_text {
                            border: $border;
                            color: $white;
                        }
                    }
                    .message_text_area {
                        border: $border;
                        margin-bottom: 30px;
                        .message_text {
                            border: $border;
                            color: #e1e1e1;
                            font-size: 17px;
                            line-height: 30px;
                            font-family:$font_regular;
                            @include xs{
                                font-size: 14px;
                            }
                            @include sm{
                                font-size: 14px;
                            }
                        }
                    }
                    .principal_name_and_school_name_area {
                        border: $border;
                        .name_text {
                            border: $border;
                            color: #e1e1e1;
                            font-size: 20px;
                            // line-height: 30px;
                            font-family:$font_semibold;
                            margin-bottom: 5px;
                            @include xs{
                                font-size: 16px;
                            }
                            @include sm{
                                font-size: 16px;
                            }
                        }
                        .school_name_text {
                            border: $border;
                            color: #e1e1e1;
                            font-size: 16px;
                            // line-height: 30px;
                            font-family:$font_medium;
                            @include xs{
                                font-size: 14px;
                            }
                            @include sm{
                                font-size: 14px;
                            }
                        }
                    }
                }
            }
        }
        // principal_message_area end
    }
}
// principal_image_and_message_area end
