<!DOCTYPE html>
<html lang="bn">

<%- include('../layouts/head.ejs') %>

    <body id="bottom_to_up">
        <%- include('../layouts/header.ejs') %>

        <%- include('../layouts/nav.ejs') %>

        <!-- page content -->

        <!-- login_or_sign_up_area start -->
        <div class="login_or_sign_up_area">
            <div class="container">
                <div class="login_or_sign_up_content">
                    <form action="#">
                        
                        <ul class="login_user_type">
                            <li>
                                <label class="login_switch_button">
                                    Student Login
                                    <input type="radio" checked name="user_type" value="student">
                                </label>
                            </li>
                            <li>
                                <label class="login_switch_button">
                                    Parent Login
                                    <input type="radio" name="user_type" value="parent">
                                </label>
                            </li>
                        </ul>

                        <div class="my-3">
                            <input class="input_area mb-2" type="text" placeholder="Email Address or Phone Number">
                            <input class="input_area" type="password" placeholder="Password">
                        </div>

                        <!-- login_in_area start -->
                        <a href="dashbord.html" class="login_in_area">Login in</a>
                        <!-- login_in_area end -->

                        <!-- forgotten_password_area start -->
                        <!-- <a href="#" class="forgotten_password_area">Forgotten Password?</a> -->
                        <!-- forgotten_password_area end -->

                        <!-- create_an_account_area start -->
                        <!-- <button class="create_an_account_area">Create an Account</button> -->
                        <!-- create_an_account_area end-->

                    </form>
                </div>
            </div>
        </div>
        <!-- login_or_sign_up_area end -->

        <!-- page content -->

        <%- include('../layouts/footer.ejs') %>
    </body>

</html>