   
    <!-- footer_area start -->
    <footer className="footer_area" data-aos="fade-up" data-aos-duration="1000">
        <div className="container">
            <div className="footer_area_content">
                <div className="row">
                    <!-- footer_logo_area start -->
                    <div className="col-md-12 col-lg-3">
                        <div className="footer_logo_area">
                            <a href="#">
                                <img src="/assets/website/images/website_logo/logo.png" alt="logo">
                                <span className="logo_title">নুরুল হিকমাহ মডেল মাদরাসা</span>
                            </a>
                        </div>
                        <!-- footer_social_media_area start -->
                        <div className="footer_social_media_area">
                            <ul>
                                <li>
                                    <a href="#"><i className="fa-brands fa-facebook-f"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i className="fa-brands fa-youtube"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i className="fa-brands fa-linkedin"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i className="fa-brands fa-twitter"></i></a>
                                </li>
                            </ul>
                        </div>
                        <!-- footer_social_media_area end -->
                    </div>
                    <!-- footer_logo_area end -->

                    <!-- importent_link_area start -->
                    <div className="col-md-4 col-lg-3">
                        <div className="area_title">
                            <h2 className="area_title_text">গুরুত্বপূর্ণ লিঙ্কসমূহ</h2>
                        </div>
                        <div className="importent_link_area">
                            <ul>
                                <li>
                                    <a href="https://moedu.gov.bd/" target="blank">শিক্ষা মন্ত্রনালয়</a>
                                </li>
                                <li>
                                    <a href="https://www.dhakaeducationboard.gov.bd/" target="blank">মাধ্যমিক ও
                                        উচ্চমাধ্যমিক শিক্ষা বোর্ড,
                                        ঢাকা</a>
                                </li>
                                <li>
                                    <a href="https://dshe.gov.bd/" className="link_name" target="blank">মাধ্যমিক ও
                                        উচ্চশিক্ষা অধিদপ্তর</a>
                                </li>
                                <li>
                                    <a href="https://www.nu.ac.bd/" className="link_name" target="blank">জাতীয়
                                        বিশ্ববিদ্যালয়</a>
                                </li>
                                <li>
                                    <a href="https://www.shed.gov.bd/" className="link_name" target="blank">মাধ্যমিক ও উচ্চ
                                        শিক্ষা বিভাগ</a>
                                </li>
                                <li>
                                    <a href="https://bteb.gov.bd/" className="link_name" target="blank">বাংলাদেশ কারিগরি
                                        শিক্ষা বোর্ড</a>
                                </li>
                                <li>
                                    <a href="http://www.pmeat.gov.bd/" className="link_name" target="blank">প্রধানমন্ত্রীর
                                        শিক্ষা সহায়তা ট্রাস্ট</a>
                                </li>
                                <li>
                                    <a href="#" className="link_name" target="blank">প্রধানমন্ত্রীর কার্যালয়</a>
                                </li>
                                <li>
                                    <a href="https://cabinet.gov.bd/" className="link_name" target="blank">মন্ত্রীপরিষদ
                                        বিভাগ</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- importent_link_area end -->

                    <!-- contact area start -->
                    <div className="col-md-4 col-lg-3">
                        <div className="area_title">
                            <h2 className="area_title_text">যোগাযোগের ঠিকানা</h2>
                        </div>

                        <div className="contact_area">

                            <!-- adddress_area start -->
                            <div className="adddress_area">
                                <p className="adddress_text">
                                    বাড়ি ৩১, লেন ০১, ব্লক বি, সেকশন ০৬, মিরপুর, ঢাকা-১২০৪, বাংলাদেশ।
                                </p>
                            </div>
                            <!-- adddress_area end -->

                            <!-- phone_title_and_number area start -->
                            <div className="phone_title_and_number title_and_content">
                                <div className="phone_title f_title_area">
                                    <p className="title_text">অফিস :</p>
                                </div>
                                <div className="phone_number f_content_area">
                                    <a className="content_text f_c_number" href="tel:+8801000000000">+8801000000000</a>
                                    <a className="content_text f_c_number" href="tel:+8801000000000">+8801000000000</a>
                                    <a className="content_text f_c_number" href="tel:+8801000000000">+8801000000000</a>
                                </div>
                            </div>
                            <!-- phone_title_and_number area end -->

                            <!-- email_title_and_address start -->
                            <div className="email_title_and_address title_and_content">
                                <div className="email_title f_title_area">
                                    <p className="title_text">ই-মেইল :</p>
                                </div>
                                <div className="email_address f_content_area">
                                    <a className="content_text email_text" href="mailto:abc@gmail.com">abc@gmail.com</a>
                                </div>
                            </div>
                            <!-- email_title_and_address end -->
                        </div>
                    </div>
                    <!-- contact area end -->

                    <!-- map area start -->
                    <div className="col-md-4 col-lg-3">
                        <div className="area_title">
                            <h2 className="area_title_text">ম্যাপ</h2>
                        </div>

                        <div className="contact_area">
                            <iframe
                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3650.246369999089!2d90.3589410747526!3d23.809836686493018!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3755c1670cdb1779%3A0x645bbf4f0aeb1d56!2sTech%20Park%20IT!5e0!3m2!1sen!2sbd!4v1694496378390!5m2!1sen!2sbd"
                                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                                referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </div>
                    </div>
                    <!-- map area end -->
                </div>
            </div>
        </div>
    </footer>

    <!-- copyright_area start -->
    <footer className="copyright_area">
        <div className="container">
            <div className="copyright_area_content">
                <span className="copyright_text text"> Copy Right © 2024
                    <a className="text" href="#">Nurul Hiqmah Model Madrasah</a></span>
            </div>
        </div>
    </footer>
    <!-- copyright_area end -->
    <!-- footer_area end -->

    <!-- bottom_to_upper_button start -->
    <a href="#bottom_to_up" className="bottom_to_upper_button_area">

        <i className="fa-solid fa-angle-up"></i>

    </a>
    <!-- bottom_to_upper_button end -->

    <!-- javaScript area start -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>

    <script src="/assets/website/lightbox2-dev/dist/js/lightbox-plus-jquery.min.js"></script>
