    <!-- header_area start -->
    <header className="header_area">
        <!-- header_area_top start -->
        <div className="header_area_top">
            <div className="container">
                <div className="header_area_top_content">
                    <div className="row">
                        <!-- email_and_contact_number_area start -->
                        <div className="col-md-6">
                            <div className="email_and_contact_number_area">
                                <!-- email_area start -->
                                <div className="email_area email_contact_area">
                                    <a href="mailto:abcdefghi@gmail.com" className="content_area">
                                        <div className="icon">
                                            <i className="fa-regular fa-envelope-open"></i>
                                        </div>
                                        <div className="text_area">
                                            <p className="email_text text">abcdefghi@gmail.com</p>
                                        </div>
                                    </a>
                                </div>
                                <!-- email_area end-->
                                <!-- contact_number_area start -->
                                <div className="contact_number_area email_contact_area">
                                    <a href="tel:+8801000000000" className="content_area">
                                        <div className="icon">
                                            <i className="fa-solid fa-phone"></i>
                                        </div>
                                        <div className="text_area">
                                            <p className="text">+8801000000000</p>
                                        </div>
                                    </a>
                                </div>
                                <!-- contact_number_area end -->
                            </div>
                        </div>
                        <!-- email_and_contact_number_area end -->

                        <!-- portal_area start -->
                        <div className="col-md-6">
                            <div className="portal_area">
                                <a className="portal_text" href="/login">Portal</a>
                            </div>
                        </div>
                        <!-- portal_area end -->
                    </div>
                </div>
            </div>
        </div>
        <!-- header_area_top end -->

        <!-- header_school_name_area start -->
        <div className="header_school_name_area">
            <div className="container">
                <div className="header_area_content">

                    <!-- logo_area start -->
                    <a href="#" className="logo_area">
                        <img src="/assets/website/images/website_logo/logo.png" alt="logo">
                    </a>
                    <!-- logo_area end-->

                    <!-- school_name_area start -->
                    <a href="/" className="school_name_area">
                        <div className="school_name school_name_bangla">
                            <h2 className="school_title">নুরুল হিকমাহ মডেল মাদরাসা</h2>
                        </div>
                        <div className="school_name school_name_english">
                            <h2 className="school_title">Nurul Hiqmah Model Madrasah
                            </h2>
                        </div>
                    </a>
                    <!-- school_name_area  end-->

                </div>
            </div>
        </div>
        <!-- header_school_name_area end -->
    </header>
    <!-- header_area end -->