<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="Classification" content="Portfolio">
    <meta name="identifier-URL" content="">
    <meta name="directory" content="submission">
    <meta name="category" content="Internet">
    <meta name="coverage" content="Worldwide">
    <meta name="distribution" content="Global">
    <meta name="rating" content="General">
    <meta name="target" content="all">
    <meta name="HandheldFriendly" content="True">
    <meta name="author" content="nextechcode">
    <meta name="developer" content="Alif Sagir">
    <meta name="developer-email" content="alifsagir99@gmail.com">
    <meta name="developer-company" content="nextechcode">
    <meta name="copyright" content="school_management_system">
    <meta name="revisit" content="1 days">
    <meta name="keywords" content="madarasa">
    <meta name="description" content="Personal-portfolio">
    <meta property="og:title" content="school_management_system">
    <meta property="og:site_name" content="school_management_system">
    <meta property="og:description" content="school_management_system">
    <meta property="og:type" content="school_management_system">
    <meta property="og:url" content="/">
    <meta property="og:image" content="/assets/website/images/logo/dark_logo.png">
    <meta property="og:image:width" content="600">
    <meta property="og:image:height" content="315">
    <meta name="twitter:title" content="school_management_system">
    <meta name="twitter:description" content="school_management_system">
    <meta name="twitter:image" content="/assets/website/images/logo/dark_logo.png">
    <meta name="twitter:card" content="summary_large_image">
    <title>Cadet Madrasa</title>
    <link rel="stylesheet" href="/assets/website/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/website/icon/fontawesome-free-6.2.0-web/css/all.min.css">
    <link rel="stylesheet" href="/assets/website/styles/style.css">

    <link id="aos_css" href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link href="/assets/website/lightbox2-dev/dist/css/lightbox.min.css" rel="stylesheet" />
</head>
