<!-- nav area start -->
<nav className="nav_area">
    <div className="container">
        <div className="nav_area_content">

            <!-- responsive_menu_area start -->
            <div className="responsive_menu_area">
                <button className="searchh_area icon" onclick="search_area_show.classList.toggle('active_search')"
                    className="search_area">
                    <i className="fa-solid fa-magnifying-glass"></i>
                </button>
                <a href="login_page.html" className="Portal_area_responsive">
                    <p className="Portal_text">Portal</p>
                </a>
                <button onclick="add_menu_area.classList.toggle('active_class')" className="menu_area icon">
                    <i className="fa-solid fa-bars"></i>
                </button>
            </div>
            <!-- responsive_menu_area end -->

            <!-- all_nave area start -->
            <div id="add_menu_area" className="all_nave">
                <ul>

                    <li>
                        <a href="index.html" className="main_manu">হোম</a>
                    </li>
                    <li>
                        <a href="#" className="main_manu">ক্যাম্পাস <span className="arraw_icon"><i
                                    className="fa-solid fa-angle-down"></i></span></a>

                        <ul>
                            <li>
                                <a href="#">আমাদের সম্পর্কে</a>
                            </li>
                            <li>
                                <a href="#">ইতিহাস</a>
                            </li>
                            <li>
                                <a href="#">লক্ষ্য ও উদ্দেশ্য</a>
                            </li>
                            <li>
                                <a href="#">প্রাতিষ্ঠানিক কাঠামো</a>
                            </li>
                            <li>
                                <a href="#">প্রাতিষ্ঠানিক অবকাঠামো</a>
                            </li>
                            <li>
                                <a href="#">শুদ্ধাচার সংক্রান্ত তথ্য</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" className="main_manu">ভর্তি <span className="arraw_icon"><i
                                    className="fa-solid fa-angle-down"></i></span></a>

                        <ul>
                            <li>
                                <a href="#">কিভাবে আবেদন করতে হবে ?</a>
                            </li>
                            <li>
                                <a href="#">ভর্তি পরীক্ষা</a>
                            </li>
                            <li>
                                <a href="#">ভর্তি নীতি</a>
                            </li>
                            <li>
                                <a href="#">রেজিস্ট্রেশন সিস্টেম</a>
                            </li>
                            <li>
                                <a href="#">বর্তমান শিক্ষা ব্যবস্থা</a>
                            </li>
                            <li>
                                <a href="#">সেমিস্টার পরিকল্পনা</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" className="main_manu">একাডেমিক প্রশাসন <span className="arraw_icon"><i
                                    className="fa-solid fa-angle-down"></i></span></a>

                        <ul>
                            <li>
                                <a href="#">প্রতিষ্ঠাতা</a>
                            </li>
                            <li>
                                <a href="#">অধ্যক্ষ</a>
                            </li>
                            <li>
                                <a href="#">উপাধ্যক্ষ</a>
                            </li>
                            <li>
                                <a href="#">শিক্ষক</a>
                            </li>
                            <li>
                                <a href="#">অফিস</a>
                            </li>
                            <li>
                                <a href="#">কর্মচারী</a>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <a href="#" className="main_manu">একাডেমিক<span className="arraw_icon"><i
                                    className="fa-solid fa-angle-down"></i></span></a>

                        <ul>
                            <li>
                                <a href="#">শ্রেণি সূচি</a>
                            </li>
                            <li>
                                <a href="#">অনলাইন শ্রেণি সূচি</a>
                            </li>
                            <li>
                                <a href="#">পরীক্ষার সময়সূচী</a>
                            </li>
                            <li>
                                <a href="#">একাডেমিক সিলেবাস</a>
                            </li>
                            <li>
                                <a href="#">শিক্ষা বর্ষপঞ্জি</a>
                            </li>
                            <li>
                                <a href="#">একাডেমিক প্রসপেক্টাস</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" className="main_manu">শিক্ষার্থী<span className="arraw_icon"><i
                                    className="fa-solid fa-angle-down"></i></span></a>

                        <ul>
                            <li>
                                <a href="#">শিক্ষার্থীদের বেতন</a>
                            </li>
                            <li>
                                <a href="#">শিক্ষার্থীদের ইউনিফর্ম</a>
                            </li>
                            <li>
                                <a href="#">পরীক্ষার ব্যবস্থা</a>
                            </li>
                            <li>
                                <a href="#">নিয়ম এবং প্রবিধান</a>
                            </li>
                            <li>
                                <a href="#">আমাদের ছাত্র-ছাত্রী</a>
                            </li>
                            <li>
                                <a href="#">শিক্ষার্থীদের সাফল্যের গল্প</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" className="main_manu">ফলাফল<span className="arraw_icon"><i
                                    className="fa-solid fa-angle-down"></i></span></a>

                        <ul>
                            <li>
                                <a href="#">একাডেমিক পরীক্ষার ফলাফল</a>
                            </li>
                            <li>
                                <a href="#">বোর্ড পরীক্ষার ফলাফল</a>
                            </li>

                        </ul>
                    </li>
                    <li>
                        <a href="notice.html" className="main_manu">নোটিশ<span className="arraw_icon"><i
                                    className="fa-solid fa-angle-down"></i></span></a>

                        <ul>
                            <li>
                                <a href="notice.html">ভর্তি নোটিশ</a>
                            </li>
                            <li>
                                <a href="notice.html">পরীক্ষার নোটিশ</a>
                            </li>
                            <li>
                                <a href="notice.html">ফলাফলের নোটিশ</a>
                            </li>
                            <li>
                                <a href="notice.html">ইভেন্টস নোটিশ</a>
                            </li>
                            <li>
                                <a href="notice.html">প্রশাসন নোটিশ</a>
                            </li>
                            <li>
                                <a href="notice.html">জাতীয় কর্মসূচি</a>
                            </li>

                        </ul>
                    </li>

                    <li>
                        <a href="#" className="main_manu">আরো দেখুন<span className="arraw_icon"><i
                                    className="fa-solid fa-angle-down"></i></span></a>

                        <ul>

                            <li>
                                <a href="#" className="main_manu">কোর্স সমূহ<span className="arra_icon"><i
                                            className="fa-solid fa-angle-down"></i></span></a>

                                <ul>
                                    <li>
                                        <a href="#">কিন্ডার গার্টেন</a>
                                    </li>
                                    <li>
                                        <a href="#">প্রাথমিক</a>
                                    </li>
                                    <li>
                                        <a href="#">ষষ্ঠ - দশম</a>
                                    </li>
                                    <li>
                                        <a href="#">একাদশ - দ্বাদশ</a>
                                    </li>
                                    <li>
                                        <a href="#">ডিগ্রী</a>
                                    </li>
                                    <li>
                                        <a href="#">অনার্স</a>
                                    </li>

                                </ul>
                            </li>
                            <li>
                                <a href="#" className="main_manu">বৃত্তি ও উপবৃত্তি<span className="arra_icon"><i
                                            className="fa-solid fa-angle-down"></i></span></a>

                                <ul>
                                    <li>
                                        <a href="#">বৃত্তি সংক্রান্ত নোটিশ</a>
                                    </li>
                                    <li>
                                        <a href="#">উপবৃত্তি সংক্রান্ত নোটিশ</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#" className="main_manu">রিসোর্স<span className="arra_icon"><i
                                            className="fa-solid fa-angle-down"></i></span></a>

                                <ul>
                                    <li>
                                        <a href="#">ডিজিটাল ক্লাস কনটেন্ট</a>
                                    </li>
                                    <li>
                                        <a href="#">গ্রন্থাগার</a>
                                    </li>
                                    <li>
                                        <a href="#">গবেষণাগার</a>
                                    </li>
                                    <li>
                                        <a href="#">খেলার মাঠ</a>
                                    </li>
                                    <li>
                                        <a href="#">সহ-পাঠক্রম সংক্রান্ত কার্যক্রম</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#" className="main_manu">গ্যালারি<span className="arraw_icon"><i
                                            className="fa-solid fa-angle-down"></i></span></a>

                                <ul>
                                    <li>
                                        <a href="image_gallery_page.html">ফটো গ্যালারী</a>
                                    </li>
                                    <li>
                                        <a href="video_gallery_page.html">ভিডিও গ্যালারী</a>
                                    </li>

                                </ul>
                            </li>
                            <li>
                                <a href="contact.html" className="main_manu">যোগাযোগ</a>

                            </li>
                            <li>
                                <a href="news.html" className="main_manu">সংবাদ</a>
                            </li>
                            <li>
                                <a href="blog.html" className="main_manu">ব্লগ</a>
                            </li>

                        </ul>
                    </li>
                </ul>
                <div className="extra_area" onclick="add_menu_area.classList.toggle('active_class')">

                </div>
            </div>
            <!-- all_nave area end -->

            <!-- search area start -->
            <button onclick="search_area_show.classList.toggle('active_search')" className="search_area">
                <i className="fa-solid fa-magnifying-glass"></i>
                <div className="close_icon">
                    <i className="fa-solid fa-xmark"></i>
                </div>
            </button>

            <div id="search_area_show" className="search_item">
                <input type="text" placeholder="খুঁজুন...">
                <button className="search_icon">
                    <i className="fa-solid fa-magnifying-glass"></i>
                </button>
            </div>
            <!-- search area end -->


        </div>
    </div>
</nav>
<!-- nav area end -->